@import "../modules/colors";

.text-alert {
  color: $alert-color;
}

.text-primary {
  color: $primary-color;
}

.text-warning {
  color: $warning-color;
}

.text-dark-grey {
  color: $admin-grey;
}

.text-success {
  color: $success-color;
}

.text-bold {
  font-weight: bold;
}

.text-link {
  color: $primary-color;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-weight: 700;
}
