@import "../modules/colors";

.text-alert {
  color: $alert-color;
}

.text-primary {
  color: $primary-color;
}

.text-dark-grey {
  color: $admin-grey;
}

.text-success {
  color: $success-color;
}
