@import "../modules/colors";
@import "../colors";

.text-alert {
  color: $alert-color;
}

.text-primary {
  color: $primary-color;
}

.text-warning {
  color: $warning-color;
}

.text-dark-grey {
  color: $admin-grey;
}

.text-success {
  color: $success-color;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.text-link {
  color: $primary-color;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.color-status-no-contact {
  color: $color-status-no-contact;
}

.color-status-pending {
  color: $color-status-pending;
}

.color-status-new-time {
  color: $color-status-new-time;
}

.color-status-accepted {
  color: $color-status-accepted;
}

.color-status-cancelled {
  color: $color-status-cancelled;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}
