@import "../modules/colors";

.text-alert {
  color: $alert-color;
}

.text-primary {
  color: $primary-color;
}

.text-warning{
  color: $warning-color;
}
.text-success{
  color: $success-color;
}

.text-dark-grey {
  color: $admin-grey;
}

.text-bold {
  font-weight: bold;
}
