{% extends 'base.html.twig' %}

{% block title %}
	Rediger post 
{% endblock %}


{% block body %}
    <p></p>
	
	<div class="row">
        <div class="small-12 medium-12 large-12 columns">
            
					
				<h1> Opprett post </h1>
				
				<hr>
				
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
											
				
		</div>
	</div>
	
{% endblock %}