{% extends 'base_new.html.twig' %}

{% block title %}
    Vektorprogrammet - Error 500 Internal Server Error
{% endblock %}

{% block body %}
    <div class="page-header page-header-thin text-center container">
        <h1>Oh oh...</h1>
        <img class="img-fluid my-5 error-image" src="{{ asset_with_version('images/vektor_v_broken.png') }}" alt="vektor v broken">
        <h4>Det har oppstått en feil på serveren med feilkode 500. </h4>
        <h6 class="text-devil">Send e-post til <a href="mailto:it@vektorprogrammet">it@vektorprogrammet.no</a> hvis problemet vedvarer.</h6>
    </div>
{% endblock %}
