{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet - Error 404 Not Found
{% endblock %}

{% block body %}
    <div class="page-header page-header-thin text-center container">
        <h1>Oops, du har funnet en nullvektor!</h1>
        <img class="img-fluid my-5" src="{{ asset_with_version('images/404.png') }}" alt="404 image">
        <h4>Vi kan dessverre ikke finne siden du leter etter.</h4>
        <h6 class="text-devil"> Sjekk at du har stavet alt riktig eller <a href="{{ path('home') }}">ta turen til startsiden</a>.</h6>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        ga('send', {
            hitType: 'event',
            eventCategory: 'Error',
            eventAction: '404',
            eventLabel: '{{ app.request.pathInfo }}'
        });
    </script>
{% endblock %}
