@import "../colors";

.about-us-page {
  section {
    margin-top: 125px;
    margin-bottom: 125px;
    @media (max-width: 1920px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    @media (max-width: 766px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .faq {

    display: flex;
    flex-direction: row;

    .active{
      background-color: #eee;
    }

    .icon {
      float: right;
      flex: 1;
      align-self: right;
      vertical-align: middle;
    }

    h2 {
      text-align: center;
    }
    h5 {

      &:hover, &:visited {
        background-color: #eee;
      }

      margin-top: 10px;
      @media (min-width: 767px) {
        margin-top: 10px;
      }
      cursor: pointer;

    }
    #about-faq p {
      display: none;
    }
    #about-faq.editable p {
      display: block;
    }

  }

  .contact-info {
    margin-top: 32px;
    a {
      font-weight: 700;
    }
  }
}
