@import "../colors";

.parents-infosite {
  .space {
    margin-bottom:60px;
  }


  .image-grid {

    width: 450px;
    max-width: 100%;
    max-height: 450px;

    border-radius: 8px;
  }

  .image-left {
    width: 450px;
    height: auto;
  }

  .image-right {
    width: 400px;
    height: auto;

  }

}
.application-link {
  font-weight: 600;
  text-decoration: none;
  color: #023874;
  transition: 0.2s;

  &:hover {
    background: #d7ffd5;

    span {
      color: #0a3a06;
    }
  }
}
