@import "../colors";

.partners {
  display: flex;
  justify-content: space-around;
}
.partner {
  margin-left: 16px;
  max-width: 150px;
  text-align: center;
}

.take-contact {
  padding-bottom: 5px;
  border-bottom: 3px solid $dark-blue;
}

.contact-partner {
  i {
    font-size: 2.5em;
  }
}
