@import "../colors";
.edit-profile-photo{
  h1 {
    text-align: center;
    color: $dark-blue;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  img {
    max-width: 100%;
  }

  .crop-area {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .preview img {
    width: 400px;
    max-width: 100%;
    max-height: 400px;
    filter: grayscale(100%);
  }

  .upload-error {
    font-weight: 600;
    padding: 10px 1px;
    border-bottom: 3px solid #ff5966;
  }
}

#dropzone {
  position: relative;
  border-radius: 5px;
  color: #686868;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  cursor: pointer;
  height: 300px;
  background-color: #E5F2FA;
  border: 4px dashed #6fceee;
}
#dropzone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  svg {
    display: none;
  }
}

#dropzone:hover {
  border: 4px dashed #66abcc;
  color: #323232;
}

#dropzone.dropped {
  background: #222;
  border: 10px solid #444;
}
