{% extends 'adminBase.html.twig' %}
{% block title %}
    Gi oss feedback!
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}
{% block breadcrumb_menu %}
    <div class="btn-group">
        <a class="btn text-primary btn-sm" href="{{ path('feedback_admin_list') }}">
            <i class="fa fa-list"></i> Tilbakemeldinger
            </a>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        {{ render(controller("AppBundle:Widget:feedback",{'request': app.request})) }}
    </div>
{% endblock %}
