<div class="row">
    <div class="small-12 medium-12 large-12 columns">

        <h2> {{ user.firstName }} {{ user.lastName }} </h2>
        <h6 class="subheader">
            {% for r in user.roles %}
                {{ r.name | replace({
                    'User': 'Assistent',
                    'Admin': 'Teammedlem',
                    'Superadmin': 'Teamleder',
                    'Highest admin': 'Admin'
                }) }}
            {% endfor %}
        </h6>

        <hr>

    </div>
</div>
