/bootstrap/compiled.php
.env.*.php
.env.php
.env
.v8flags*

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/

*.iml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/
npm-debug.log

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

### Symfony ###
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/app/config/parameters.yml
/var/cache/*
!var/cache/.gitkeep
/var/data
!/var/data/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/signatures/
/web/assets/
/web/bundles/
/web/images/
/web/fonts/
/web/webfonts/
/web/files/
/web/js/
/web/vendor/
/web/css
/web/static
/web/media/
!/web/media/.gitkeep

#npm
/node_modules/

.php_cs.cache


