.dashboard {
    margin-top: 150px;
    text-align: center;
}

.dashboard p {
    margin-bottom: 10px;
}

.dashboard h2 {
    margin-top: 0;
    font-family: 'Montserrat', 'Lato', sans-serif;
    font-size: 32px;
}
