<b>Gamle assistenter må logge inn for å søke.</b>
Bruk «<a href="/resetpassord">Glemt passord</a>» om du ikke husker brukernavn/passord
eller ikke har fått bruker (bruk samme e-postadresse som du søkte vektorassistent med).
Kontakt <span class="text-primary">webansvarlig@vektorprogrammet.no</span>
hvis du ikke har blitt registrert i systemet vårt.
