<div class="row">
    <div class="small-12 columns">
        <div id="allApplicantsList" class="slide-group">
            {% if applications|length %}
                <h5 class="">Alle intervujer | Antall: {{ applications|length }}</h5>
            {% include 'admission_admin/assigned_table.html.twig' with {'applicants': applications} %}
            {% endif %}
        </div>
        <button id="allApplicantsButton" class="button tiny default radius">Vis alle intervjuer
            ({{ applications|length }})
            <i class="fa fa-caret-down"></i></button>
    </div>
</div>
