<div class="row">
    <div class="col-12">
        <div id="allApplicantsList" class="slide-group">
            {% if applications|length %}
                {% set title = 'Alle intervjuer | Antall: ' ~ applications|length %}

                {% include 'admission_admin/assigned_table.html.twig' with {'applicants': applications, 'title': title} %}
            {% endif %}
        </div>
        <button id="allApplicantsButton" class="btn btn-outline-secondary">Vis alle intervjuer
            ({{ applications|length }})
            <i class="fa fa-caret-down"></i></button>
    </div>
</div>
