<div class="row">
    <div class="col-12">
        <div id="cancelledApplicationsList" class="slide-group">
            {% if cancelledApplications is defined and cancelledApplications|length %}
                {% set title = 'Kansellerte intervjuer | Antall: ' ~ cancelledApplications|length %}
                {% include 'admission_admin/assigned_table.html.twig' with {'applicants': cancelledApplications, 'title': title} %}
            {% endif %}
        </div>
        <button id="cancelledApplicationsButton" class="btn btn-outline-danger">Vis kansellerte intervjuer
            ({{ cancelledApplications|length }}) <i class="fa fa-caret-down"></i></button>
    </div>
</div>
