{% if interviewDistributions|length > 0 %}
    <h3>Intervjufordeling</h3>
    <table id="interview-distribution-table">
        <thead>
        <tr class="text-center">
            <th data-sort="string">Navn</th>
            <th class="text-center" data-sort="int">Intervjuer igjen</th>
            <th class="text-center" data-sort="int">Totalt antall intervjuer</th>
        </tr>
        </thead>

        <tbody>
        {% for interviewer in interviewDistributions%}
            <tr>
                <td>{{ interviewer }}</td>
                <td class="text-center">{{ interviewer.getInterviewsLeft }}</td>
                <td class="text-center">{{ interviewer.getTotalInterviews }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
{% endif %}
