<footer>


    <div id="footerContainer" class="container">
        <div class="footerElement">
            <div class="footerInfo">
                <span id="footerLinker">
                    <p class="p"><i class="fa fa-envelope ikon"></i>styret@vektorprogrammet.no</p>
                    <p class="p"><i class="fa fa-facebook-square ikon"></i><!--
                        --><a href="https://www.facebook.com/vektorprogrammet/" target="_blank">NTNU&nbsp;</a>
                        <a href="https://www.facebook.com/vektorprogrammetNMBU/" target="_blank">NMBU&nbsp;</a>
                        <a href="https://www.facebook.com/Vektorprogrammet-UiO-1017596031601586/" target="_blank">UiO&nbsp;</a>
                        <a href="https://www.facebook.com/VektorprogrammetBergen/" target="_blank">UiB&nbsp;</a>
                        <a href="https://www.facebook.com/VektorUiT/" target="_blank">UiT</a></p>
                    <p class="p"><i class="fa fa-folder-open ikon"></i>OrgNr: 998744814</p>
                    <p class="p"><i class="fa fa-map-pin ikon"></i>Høgskoleringen 5,
                    <br><i class="fa ikon"></i>7491 Trondheim</p>
                </span>
            </div>

            <div class="footerInfo">
                <h5>Sponsorer</h5>
                <div id="sponsorLinker">
                    <ul>
                        {% for sponsor in get_sponsors() %}
                            <li><a href="{{ sponsor.url }}" target="_blank"> {{ sponsor.name }} </a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="googleMap" style="width:250px;height:350px;"></div>

            <script>
                function myMap() {
                    var locations = [
                        [63.4195014,10.40195],
                        [60.3878612,5.3195662],
                        [59.6671086,10.765153],
                        [69.1898477,17.6760827],
                        [59.9399586,10.7195609]
                    ];

                    var mapProp= {
                        center:new google.maps.LatLng(65.1195014,10.40195),
                        zoom:4,
                    };

                    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

                    for(var i=0;i<locations.length;i++){
                        var marker = new google.maps.Marker({position: new google.maps.LatLng(locations[i][0],
                            locations[i][1]),
                            map: map});
                        marker.setMap(map);
                    }
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyesbQMyKVVbBgKVi2g6VX7mop2z96jBo&callback=myMap"></script>
        </div>

</footer>