<div class="top-header" }>
    <nav class="main-navigation">
        {% include 'base/logo_link.html.twig' %}
        <div class="menu-items">
            {{ include('base/user_dropdown.html.twig') }}
            <div class="menu-links">
                {% include('base/menu_item.html.twig') with {route: 'assistants', name: 'Assistenter'} %}
                {% include('base/menu_item.html.twig') with {route: 'team', name: 'Team'} %}
                {% include('base/menu_item.html.twig') with {route: 'about', name: 'Om oss'} %}
                {% include('base/menu_item.html.twig') with {route: 'contact', name: 'Kontakt'} %}
            </div>
        </div>
    </nav>
</div>
