<header class="row hide-for-small-only">
    <div class="small-12 medium-12 columns">
        {% include 'base/logo_link.html.twig' %}
        {% include 'base/main_navigation.html.twig' %}
    </div>
</header>
<!-- Mobile Navigation -->
<div class="row show-for-small-only">
    <div style="margin-bottom:30px; text-align: center" class="small-12 medium-3 columns"
         data-equalizer-watch>
        {% include 'base/logo_link.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="small-12 show-for-small-only">
        {% include 'base/mobile_navigation.html.twig' %}
    </div>
</div>
<br/>
