<a href="{{ path('home') }}">
    {% if "now"|date("m") == "12" %}
        <img src="{{ asset_with_version('images/vektor-christmas-logo.png') }}" alt="Vektor logo">
    {% else %}
        <img src="{{ asset_with_version('images/vektor.png') }}" alt="Vektor logo">
    {% endif %}
</a>
