<div class="col-2 columns step-box {% if step == 4 %}step-active{% elseif step > 4 %}step-completed{% endif %}">
    <h4>Fordel</h4>
    {% include 'control_panel/step_by_step/steps/step4.html.twig' %}
</div>
