<div class="col-2 step-box {% if step == 3 %}step-active{% elseif step > 3 %}step-completed{% endif %}">
    <h4>Intervju</h4>
    {% include 'control_panel/step_by_step/steps/step3.html.twig' %}
</div>
