<div class="col-2 step-box {% if step == 1 or step == 2 %}step-active{% elseif step >= 3 %}step-completed{% endif %}">
    <h4>Opptak</h4>
    {% if step < 1 %}
        <p>Opptaket er stengt</p>
    {% elseif step == 1 %}
        {% include 'control_panel/step_by_step/steps/step1.html.twig' %}
    {% elseif step == 2 %}
        {% include 'control_panel/step_by_step/steps/step2.html.twig' %}
    {% else %}
        <p>Opptaket er stengt</p>
        <p><a href="{{ path('admissionadmin_show') }}">{{ data.totalApplicationsCount }} søkere</a></p>
    {% endif %}
</div>
