{% extends 'base.html.twig' %}

{% block topLine %}
    <div class="top-line admin-top-line"></div>
{% endblock %}

{% block header %}
    <header data-equalizer>
        <div class="small-12 medium-3 columns hide-for-small-only" data-equalizer-watch>
            {% include 'base/logo_link.html.twig' %}
        </div>
        <div class="medium-4 medium-offset-1 columns hide-for-small-only" data-equalizer-watch>
            <h1 class="control-panel-header">Kontrollpanel</h1>
        </div>
        <div class="medium-4 columns hide-for-small-only">
            <div class="float-right">
                <a href="{{ path('home') }}">Tilbake til hovedsiden</a> | <a href="{{ path('logout') }}">Logg ut</a>
            </div>
        </div>
    </header>

    <br>
    {% include 'base/admin/main_navigation.html.twig' %}
    {% include 'base/admin/mobile_navigation.html.twig' %}
    <br/>

{% endblock %}

{% block footer %}
    {% include 'base/admin/footer.html.twig' %}
{% endblock %}
