:root {
    --main-margin: 5px;
}

.about-us-header {
    textAlign: 'center';
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    color: rgb(0,0,0);
    fontSize: 40px;
    fontWeight: 'bold';
}

/**************
 About text
 *************/
.about-us-text {
    margin-top: 35px;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    text-align: left;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}

.text2 {
    margin-top: 35px;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    text-align: left;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}

/*****************
       FAQ
*****************/

.FAQ h1 {
    font-size: 250%;
    color:black;
}


.FAQ h3 {
    font-size: 130%;
    font-weight:bold;
    color:black;
}

.FAQ {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}

/*****************
    Images
*****************/
.image1{
    display: block;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    /*max-height: 100%;
    max-width: 100%;
    height: ??px;*/
}

.image2{
    display: block;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    /*max-height: 100%;
    max-width: 100%;
    height: ??px;*/
}

/******************
     Links
******************/

.links {
    /*text-align: center;*/
    /*margin-top:60px;*/
}

.links a {
    font-size: 50%;
}

