/*TODO: Start all names with "about"*/

:root {
    --main-margin: 5px;
}

/*****************
       FAQ
*****************/

.about-us-page {
    padding: 100px 1rem;
}

.about-us-main {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.aboutUs-FAQ h1 {
    font-size: 250%;
    color:black;
}


.aboutUs-FAQ h3 {
    font-size: 130%;
    font-weight:bold;
    color:black;
}

.aboutUs-FAQ {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}

/******************
     Contact info
******************/
.contact-info {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    margin-top: 15px;
}

/******************
     Links
******************/

.links {
    /*text-align: center;*/
    /*margin-top:60px;*/
}

.links a {
    font-size: 50%;
}

