.contact-page {
    padding-top: 50px;
}
@media screen and (max-width: 767px) {
    .contact-page {
        padding-top: 20px;
    }
}

.contact-text{
    color: grey;
    /*padding-left: 10px;*/
    margin-top: -16px;
}
