.hero-section {
    background-color: #E6F3F7;
}
.hero-section .hero-image {
    display: block;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 25px;
    padding: 35px 0;
}

.hero-section .hero-content {
    margin-top: 85px;
    margin-left: 20px;
    max-width: 500px;
}
.hero-section .hero-content h1 {
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 30px;
}
.hero-section .hero-content p {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
    margin: 0 0 20px;
}
.hero-section .hero-content .hero-cta {
    background-color: #4CAF50;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@media screen and (max-width: 767px) {
    .hero-section .hero-image {
        margin: 0 auto;
        padding: 8px 0 32px;
    }
    .hero-section .hero-content {
        margin: 0 0 25px;
    }
    .hero-section h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        margin: 16px 0;
    }
}
