.user-page-header {
    text-align: center;
}
.user-page-header h1 {
    font-family: 'Montserrat', 'Lato', sans-serif;
    font-size: 34px;
    margin-bottom: 10px;
}

.user-page-subheader {
    margin-top: 0;
    text-align: center;
}

.user-page-profile-form {
    margin-top: 50px;
}
