{% extends 'adminBase.html.twig' %}

{% block title %}
    Statistikk: Opptak
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    {% include 'statistics/chart_script.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 columns">
                {% include "common/department_semester_dropdowns.html.twig" with {
                'path': 'statistics_application_by_semester',
                'parameterName': 'id',
                'currentSemester': semester} %}
        </div>
        {% if applicationData.count %}
            <header class="small-12 columns">
                <h3>Søkerstatistikk</h3>
                <h6>Antall søkere: {{ applicationData.count }}</h6>
            </header>
            <div class="small-12 columns equalheight charts" id="applicationCharts">
            </div>
        {% endif %}
        {% if assistantHistoryData.count %}
            <header class="small-12 columns">
                <h3>Opptaksstatistikk</h3>
                <h6>Antall assistenter: {{ assistantHistoryData.assistantHistoryCount }}</h6>
                <h6>Antall stillinger: {{ assistantHistoryData.positionsCount }}</h6>
            </header>
            <div class="small-12 columns equalheight charts" id="admissionCharts">
            </div>
        {% endif %}
        {% if assistantHistoryData.count == 0 and applicationData.count == 0 %}
            <div class="col-xs-12 columns">
                <h4>Ingen data dette semesteret</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}

