imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

parameters:
  # File upload parameters
  public_uploads: "Offentlige filer"
  private_uploads: "../Private filer"

  # Gallery photos folder
  gallery_folder: "images/Gallery photos"

  # Profile photos
  profile_photos: 'images/Profile photos'

  # Logo images
  logo_images: 'images/Logo images'

  # Article images
  article_images: 'images/article_images'

framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
       filebrowser_window_width: 1200 #The initial width of window when opened
       filebrowser_window_height: 800
    form_themes:
#        - 'form/foundation_layout.html.twig'



# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"
        mapping_types:
           enum: string
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true


# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    port:      "%mailer_port%"
    spool:     { type: memory }

ivory_ck_editor:
    base_path: "scripts/ckeditor/"
    js_path: "scripts/ckeditor/ckeditor.js"
    default_config: default
    configs:
        default:
            filebrowserBrowseRoute: elfinder
            filebrowserBrowseRouteParameters:
                instance: default
        basic_config:
            toolbar: basic
        standard_config:
            toolbar: standard

# See https://github.com/psliwa/PdfBundle for more details 
ps_pdf:
    nodes_file: ~
    fonts_file: ~
    complex_attributes_file: ~
    colors_file: ~
    use_cache_in_stylesheet: ~
    cache:
      type: ~
      options: ~
    markdown_stylesheet_filepath: ~
    markdown_document_template_filepath: ~
    document_parser_type: ~


gregwar_captcha: ~

fm_elfinder:
    instances:
        default:
            locale: %locale% # defaults to current request locale
            editor: ckeditor # other options are tinymce, tinymce4, form, custom and simple
            fullscreen: false # defaults true, applies to simple and ckeditor editors
            include_assets: true # disable if you want to handle loading of the javascript and css assets yourself
            connector:
                debug: false # defaults to false
                roots:       # at least one root must be defined
                    uploads:
                        #show_hidden: false # defaults to false
                        driver: LocalFileSystem
                        path: %public_uploads%
                        upload_allow: ['image/png', 'image/jpg', 'image/jpeg', 'application/pdf']
                        upload_deny: ['all']
                        upload_max_size: 2M
        admin_access:
                    locale: %locale% # defaults to current request locale
                    editor: simple # other options are tinymce, tinymce4, form, custom and ckeditor
                    fullscreen: true # defaults true, applies to simple and ckeditor editors
                    include_assets: true # disable if you want to handle loading of the javascript and css assets yourself
                    connector:
                        debug: false # defaults to false
                        roots:       # at least one root must be defined
                            private:
                                #show_hidden: false # defaults to false
                                driver: LocalFileSystem
                                path: %private_uploads%
                                upload_allow: ['image/png', 'image/jpg', 'image/jpeg', 'application/pdf']
                                upload_deny: ['all']
                                upload_max_size: 2M
                            public:
                                #show_hidden: false # defaults to false
                                driver: LocalFileSystem
                                path: %public_uploads%
                                upload_allow: ['image/png', 'image/jpg', 'image/jpeg', 'application/pdf']
                                upload_deny: ['all']
                                upload_max_size: 2M
        ck_editor:
                    locale: %locale% # defaults to current request locale
                    editor: ckeditor # other options are tinymce, tinymce4, form, custom and simple
                    fullscreen: true # defaults true, applies to simple and ckeditor editors
                    include_assets: true # disable if you want to handle loading of the javascript and css assets yourself
                    connector:
                        debug: false # defaults to false
                        roots:       # at least one root must be defined
                          public:
                                #show_hidden: false # defaults to false
                                driver: LocalFileSystem
                                path: %public_uploads%
                                upload_allow: ['image/png', 'image/jpg', 'image/jpeg']
                                upload_deny: ['all']
                                upload_max_size: 2M
                          private:
                                #show_hidden: false # defaults to false
                                driver: LocalFileSystem
                                path: %private_uploads%
                                upload_allow: ['image/png', 'image/jpg', 'image/jpeg', 'application/pdf']
                                upload_deny: ['all']
                                upload_max_size: 2M

        article_editor:
                    locale: %locale% # defaults to current request locale
                    editor: ckeditor # other options are tinymce, tinymce4, form, custom and simple
                    fullscreen: true # defaults true, applies to simple and ckeditor editors
                    include_assets: true # disable if you want to handle loading of the javascript and css assets yourself
                    connector:
                        debug: false # defaults to false
                        roots:       # at least one root must be defined
                          public:
                                #show_hidden: false # defaults to false
                                driver: LocalFileSystem
                                path: %article_images%
                                upload_allow: ['image/png', 'image/jpg', 'image/jpeg', 'application/pdf']
                                upload_deny: ['all']
                                upload_max_size: 2M

        article_form:
                    locale: %locale% # defaults to current request locale
                    editor: form # other choices are tinymce or simple, and form
                    fullscreen: true # defaults true, applies to simple and ckeditor editors
                    include_assets: true # disable if you want to handle loading of the javascript and css assets yourself
                    connector:
                        debug: false # defaults to false
                        roots:       # at least one root must be defined
                            uploads:
                                driver: LocalFileSystem
                                path: %article_images%
                                upload_allow: ['image/png', 'image/jpg', 'image/jpeg']
                                upload_deny: ['all']
                                upload_max_size: 2M

# Provides help text functionality to forms
simple_things_form_extra:
    help_extension: true

liip_imagine:
    resolvers:
       default:
          web_path: ~

    filter_sets:
        cache: ~
        article_crop:
            quality: 100
            filters:
                relative_resize: { scale: 2.5 }
                crop: { start: [10, 20], size: [120, 90] }