imports:
    - { resource: config.yml }

parameters:
    slack.disable_delivery: false

#framework:
#    validation:
#        cache: apc

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: critical
            handler:      grouped
        grouped:
            type:    group
            members: [streamed, buffered]
        streamed:
            type:  stream
            path:  '%kernel.logs_dir%/%kernel.environment%.log'
            level: debug
        buffered:
            type:    buffer
            handler: swift
        swift:
            type:       swift_mailer
            from_email: 'vektorprogrammet@vektorprogrammet.no'
            to_email:   'webansvarlig@vektorprogrammet.no'
            subject:    An Error Occurred on vektorprogrammet.no!
            level:      debug
