# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    newsletter_transport: smtp
    newsletter_hostname: ~
    newsletter_port: ~
    newsletter_username: ~
    newsletter_password: ~

    slack_endpoint: 'https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX'

    gateway_api_token: 'xxxxxxx'

    locale:            no

    # Sender email for user creation mails
    no_reply_email_user_creation: ~

    # Sender email for contact form mails
    no_reply_email_contact_form: ~

    default_from_email: post@vektorprogrammet.no

    economy_email: ''

    # A secret key that's used to generate certain security-related tokens
    secret:            CreateASuperDuperSecretHere

    session.name: VPSESSID

    # Webhook from GitHub to automatically deploy on push to master

twig:
    globals:
        googleAnalyticsId: ~
        smartlookID: ~
