# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_sqlite
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path: "%kernel.root_dir%/../var/data/dev.db"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    newsletter_transport: smtp
    newsletter_hostname: ~
    newsletter_port: ~
    newsletter_username: ~
    newsletter_password: ~

    slack_endpoint: 'https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX'
    slack_disabled: true

    gateway_api_token: 'xxxxxxx'
    sms_disable: true

    locale:            no

    # Sender email for user creation mails
    no_reply_email_user_creation: ~

    # Sender email for contact form mails
    no_reply_email_contact_form: ~

    default_from_email: vektorbot@vektorprogrammet.no

    economy_email: okonomi@vektorprogrammet.no

    default_survey_email: evaluering.ntnu@vektorprogrammet.no

    # A secret key that's used to generate certain security-related tokens
    secret:            CreateASuperDuperSecretHere

    session.name: VPSESSID
    remember_me.name: VPREMEMBER

    google_api_client_id: 'xxxxx'
    google_api_client_secret: 'xxxxx'
    google_api_refresh_token: 'xxxxx'

    gateway_api_token: xxxxx
    sms_disable: true

    ipinfo_token: ''
    geo_ignored_asns: []

    recaptcha_private_key: ~
    recaptcha_public_key: ~

    log_channel: '#website_logs'

    sentry_address: xxxx

    # Webhook from GitHub to automatically deploy on push to master

twig:
    globals:
        googleAnalyticsId: ~
        pixelId: ~
