<div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete" aria-hidden="true" role="dialog">
    <h2 id="modalMessage">Vil du virkelig slette elementet?</h2>
    <ul class="inline-list">
        <a id="modalAccept" href="#" class="button tiny">Slett</a>
        <a id="modalCancel" href="#" class="button tiny">Avbryt</a>
    </ul>
</div>