<div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete" aria-hidden="true" role="dialog">
    <h2 id="modalMessage">Er du sikker på at du vil redigere rettighetene til brukeren?</h2>
    <ul class="inline-list">
        <a id="modalAccept" href="#" class="button tiny">Ja</a>
        <a id="modalCancel" href="#" class="button tiny">Avbryt</a>
    </ul>
</div>