<div class="btn-group">
    {% if has_access_to('all_departments') %}<div class="mr-3">
    {% include "common/department_dropdown.html.twig" with {
        'pathForDepartment': path,
        'departmentParameterName':  departmentParameterName is defined ? departmentParameterName : 'department' ,
        'semesterParameterName':  semesterParameterName is defined ? semesterParameterName : 'semester' ,
        'currentDepartment': department,
        'currentSemester': semester,
        'linkToSemester': true
            } %}
        </div>
    {% endif %}

    {% include "common/semester_dropdown.html.twig" with {
        'pathForSemester': path,
        'departmentParameterName':  departmentParameterName is defined ? departmentParameterName : 'department' ,
        'semesterParameterName':  semesterParameterName is defined ? semesterParameterName : 'semester' ,
        'currentSemester': semester,
        'currentDepartment': department
    } %}
</div>
