<div class="row">
    <div class="col-12">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="admission-notice">
                <div data-alert class="alert-box success radius text-center">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="admission-notice">
                <div data-alert class="alert-box warning radius text-center">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="admission-notice">
                <div data-alert class="alert-box alert radius text-center">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% block javascripts -%}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $('.close').click(function () {
          $(this).closest('.admission-notice').remove();
        });
      });
    </script>
{% endblock %}
