{%  extends 'base.html.twig' %}


{%  block title %}
    Vektorprogrammet
{%  endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/parents.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">


        <div class="parents-infosite content">
            <div class="page-header">
                {% include 'statictext/static_content.html.twig' with {'id': 'parent-header'} %}
            </div>

            <section class="row space">
                <div class="col-md-7">
                    {% include 'statictext/static_content.html.twig' with {'id': 'assistant-info'} %}
                </div>

                <div class="col-lg-4">
                    <img class="img-fluid" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3416632.jpg">
                </div>
            </section>


            <section class="row space">
                <div class="col-md-12">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-course'} %}
                    <div class="text-center"><br>

                        <a href="/foreldrekurs/pamelding">
                        <button type="button" class="btn btn-primary center-block">Påmelding til foreldrekurs</button>
                        </a>
                        <p><b>OBS! Linken er ikke gyldig, da siden ikke finnes i Master-branch enda</b></p>
                    </div>
                </div>
            </section>


            <section class="row space">
                <div class="col-lg-6">
                    <img class="img-fluid image-left image-grid" src="{{ asset_with_version('images/assistenter.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid image-right image-grid" src="{{ asset_with_version('images/vektorassistent.jpg') }}">
                </div>
            </section>

        </div>
    </div>
{% endblock %}


