{%  extends 'base.html.twig' %}


{%  block title %}
    Vektorprogrammet
{%  endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <center><h1>Side med informasjon til foreldre</h1></center>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                Venstre div-boks
                <br>
                <h3>Oversikt</h3>
                <img src="http://0.0.0.0:8000/images/teacher2.png" width="90%">

            </div>
            <div class="col-lg-6">
                Høyre div-boks<br>
                <p>Innhold
                </p>

            </div>
        </div>
    </div>







    <!-- A few linechanges just to adjust footer of site -->
    <br><br><br><br><br>

{% endblock %}


