{%  extends 'base.html.twig' %}


{%  block title %}
    Vektorprogrammet
{%  endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/parents.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">


        <div class="parents-infosite content">
            <div class="page-header">

                {% include 'statictext/static_content.html.twig' with {'id': 'parent-header'} %}

                <!-- <h1>Informasjon for foreldre</h1>
                <p></p>
                <p>Lurer du som forelder på mer om vektorprogrammet? Her finner du informasjon om våre assistenter, kvalitetssikring, foreldrekurs, og annet. Siden er ikke ferdig enda, og noe av teksten er her rett og slett kun for fyll, slik at siden skal få rett form.</p>
                -->

            </div>


            <section class="row space">
                <div class="col-md-7">
                    {% include 'statictext/static_content.html.twig' with {'id': 'assistant-info'} %}

                    <!-- <h2>Assistentene</h2>
                    <p>Her skal det etter hvert komme tekst om hvordan vi kvalitetssikrer våre assistenter, slik at alle som blir sendt ut til skolene er egnede, dedikerte, og pedagogiske.
                        Dessuten skal det nevnes at alle assistentene blir sendt på pedagogikkkurs før de blir assistenter
                    </p>
                    <p>Noe som gjør at Vektorprogrammet kan velge ut de aller beste til jobben.</p>
                    <p>Statistikk om assistentene, og mer tekst skal komme her. Noe må tross alt stå her mens siden er under construction.<br><b>Bildet må endres </b><br>
                    (Kan evt erstattes med tegnet sort-hvitt bilde av Tor?)</p>
                    -->
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3416632.jpg">
                </div>
            </section>


            <section class="row space">
                <div class="col-md-12">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-course'} %}
                    <!-- <h2>Foreldrekurs</h2>
                    <p>I tillegg til å sende studenter ut til ungdomsskolene for å hjelpe elevene, arrangerer vi også foreldrekurs for dere foreldre - slik at dere får et enda bedre grunnlag for å kunne hjelpe deres barn med matematikken på hjemmebane.</p>
                    <p>Foreldrekurs er et tilbud til foreldre ved Vektorprogrammets samarbeidsskoler. Her blir ungdomsskolepensum i matematikk gjennomgått, slik at foreldrene har mulighet til å hjelpe barna med lekser.
                        De siste årene har det vært interne teammedlemmer i Vektorprogrammet som har holdt kursene. I år skal det holdes ett kurs i statistikk og sannsynlighet, og ett kurs som handler om eksamen, slik at foreldrene til 10.klasse-elever har mulighet til å støtte ungdommene i eksamensforberedelsene.
                        Kursene pleier å holdes på Realfagsbygget på NTNU Gløshaugen to kvelder i semesteret.
                        I år er er kursene 29. april og 2. mai, og det blir alltid bespisning på kursene (lett servering, kaffe, kake, kjeks osv)</p>
                    -->
                </div>
            </section>


            <section class="row space">
                <div class="col-lg-6">
                    <img class="img-fluid image-left image-grid" src="{{ asset_with_version('images/assistenter.jpg') }}">

                </div>
                <div class="col-lg-6">
                    <img class="img-fluid image-right image-grid" src="{{ asset_with_version('images/vektorassistent.jpg') }}">
                </div>
            </section>


        </div>


    </div>

{% endblock %}


