{%  extends 'base.html.twig' %}


{%  block title %}
    Vektorprogrammet
{%  endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/parents.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">


        <div class="parents-infosite content">
            <div class="page-header">
                <!--{% include 'statictext/static_content.html.twig' with {'id': 'parent-header'} %}-->

                <h1>Informasjon for foreldre</h1>
                <p>Lurer du som forelder på mer om vektorprogrammet? Her finner du blant annet informasjon om våre assistenter, kvalitetssikring, og foreldrekurs.</p>
            </div>

            <section class="row space">
                <div class="col-md-7">
                    <!--{% include 'statictext/static_content.html.twig' with {'id': 'assistant-info'} %}-->
                    <h2>Assistentene</h2>
                    <p>Her skal det etter hvert komme tekst om hvordan vi kvalitetssikrer våre assistenter, slik at alle som blir sendt ut til skolene er egnede, dedikerte, og pedagogiske.
                        Dessuten skal det nevnes at alle assistentene blir sendt på pedagogikkkurs før de blir assistenter
                        Noe som gjør at Vektorprogrammet kan velge ut de aller beste til jobben.<br><br>
                        Statistikk om assistentene, og mer tekst skal komme her. Noe må tross alt stå her mens siden er under construction.Bildet må endres
                    </p>

                </div>

                <div class="col-lg-4">
                    <img class="img-fluid" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3416632.jpg">
                </div>
            </section>


            <section class="row space">
                <div class="col-md-12">
                    <!-- {% include 'statictext/static_content.html.twig' with {'id': 'parent-course'} %}-->

                    <h2>Foreldrekurs</h2>
                    <p>I tillegg til å sende studenter ut til ungdomsskoler, så arrangerer vi også foreldrekurs for dere foreldre - slik at dere får et enda bedre grunnlag for å kunne hjelpe deres barn med matematikken på hjemmebane.
                        <br><br>
                        Foreldrekurs er et tilbud til foreldre ved Vektorprogrammets samarbeidsskoler. Kursene pleier å holders på Realfagsbygget på NTNU Gløshaugen, 2 kvelder i semesteret, der det også vil være lett bespisning (kaffe, kaker, kjeks).
                    </p>
                    <div class="text-center"><br>

                        <a href="/foreldrekurs/pamelding">
                        <button type="button" class="btn btn-primary center-block">Påmelding til foreldrekurs</button>
                        </a>

                        <!-- REMOVE THIS LINE WHEN LINK IS VALID -->
                        <br><br><p><b>OBS! Linken er ikke gyldig, da siden ikke finnes i Master-branch enda</b></p>
                        <!-- ----------------------------------- -->

                    </div>
                </div>
            </section>


            <section class="row space">
                <div class="col-lg-6">
                    <img class="img-fluid image-left image-grid" src="{{ asset_with_version('images/assistenter.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid image-right image-grid" src="{{ asset_with_version('images/vektorassistent.jpg') }}">
                </div>
            </section>

        </div>
    </div>
{% endblock %}


