{%  extends 'base.html.twig' %}


{%  block title %}
    Vektorprogrammet
{%  endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/parents.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">


        <div class="parents-infosite"><!-- style="background-color: #fafdfe"> -->
            <div class="page-header">
                <h1>Informasjon for foreldre</h1>
                <p></p>
                <p>Lurer du som forelder på mer om vektorprogrammet? Her finner du informasjon om våre assistenter, kvalitetssikring, foreldrekurs, og annet. Siden er ikke ferdig enda, og noe av teksten er her rett og slett kun for fyll, slik at siden skal få rett form.</p>
            </div>



            <section class="row space">
                <div class="col-md-7"><!-- style="background-color: none #f0fff0"> -->
                    <h2>Kvalitet</h2>
                    <p>Her skal det etter hvert komme tekst om hvordan vi kvalitetssikrer våre assistenter, slik at alle som blir sendt ut til skolene er egnede, dedikerte, og pedagogiske.
                        Dessuten skal det nevnes at alle assistentene blir sendt på pedagogikkkurs før de blir assistenter
                    </p>
                </div>
                <div class="col-lg-4"><!-- style="background-color: none #f0fafb"> -->
                    <img class="img-fluid" src="https://via.placeholder.com/200">
                </div>
            </section>


            <section class="row space">
                <div class="col-md-3 offset-md-1"><!-- style="background-color: none #f0fff0"> -->
                    <img class="img-fluid" src="https://via.placeholder.com/200">
                </div>
                <div class="col-md-7"><!-- style="background-color: none #f0fafb"> -->
                    <h2>Overskrift</h2>
                    <p>Noe som gjør at Vektorprogrammet kan velge ut de aller beste til jobben.</p>
                    <p>Statistikk om assistentene, og mer tekst skal komme her. Noe må tross alt stå her mens siden er under construction.</p>
                </div>
            </section>


            <section class="row space">
                <div class="col-md-12"><!-- style="background-color: none whitesmoke;"> -->
                    <h2>Foreldrekurs</h2>
                    <p>I tillegg til å sende studenter ut til ungdomsskolene for å hjelpe elevene, arrangerer vi også foreldrekurs for dere foreldre - slik at dere på hjemmebane får et enda bedre grunnlag for å kunne hjelpe deres barn med matematikken på hjemmebane.</p>
                    <p>Foreldrekurs er et tilbud til foreldre ved Vektorprogrammets samarbeidsskoler. Her blir ungdomsskolepensum i matematikk gjennomgått, slik at foreldrene har mulighet til å hjelpe barna med lekser.
                        De siste årene har det vært interne teammedlemmer i Vektorprogrammet som har holdt kursene. I år skal det holdes ett kurs i statistikk og sannsynlighet, og ett kurs som handler om eksamen, slik at foreldrene til 10.klasse-elever har mulighet til å støtte ungdommene i eksamensforberedelsene.

                        Kursene pleier å holdes på Realfagsbygget på NTNU Gløshaugen to kvelder i semesteret.

                        I år er er kursene 29. april og 2. mai, og det blir alltid bespisning på kursene (lett servering, kaffe, kake, kjeks osv)</p>

                </div>
            </section>


            <section class="row space"><!-- style="background-color: none #f1f1e3;"> -->
                <div class="col-md-12">
                    <h2>Bildeseksjon</h2>
                    <p>Her kommer det bilder etter hvert.</p>
                    <p>Bilder: fra foreldrekurs, assistenter på skoler</p>
                </div>
                <div class="col-lg-3">
                    <img src="https://via.placeholder.com/180" alt="bilde1">
                </div>
                <div class="col-lg-3">
                    <img src="https://via.placeholder.com/180" alt="bilde2">
                </div>
                <div class="col-lg-3">
                    <img src="https://via.placeholder.com/180" alt="bilde3">
                </div>
                <div class="col-lg-3">
                    <img src="https://via.placeholder.com/180" alt="bilde4">
                </div>
            </section>

        </div>


    </div>

{% endblock %}


