{% extends 'base.html.twig' %}

{% block title %}
    Påmelding
{% endblock %}


{% block body %}
    <h3> Du er herved blitt avmeldt fra foreldrekurset! </h3>
    <p> Meld deg gjerne på igjen hvis du angrer! </p>
    <br>
    <p> Ønsker deg en fortsatt god dag!</p>

{%  endblock %}