{% for survey in availableSurveys  %}
    <div class="col-12 col-md-6 col-xxxl-4">
        <div class="card">
            <div class="card-header">
                <i class="fa  fa-comment"></i> Tilgjenglig undersøkelse
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ survey.name | safe_html}}</h5>
                <p class="text-muted"> {{ survey.semester.getName()}} </p>
                <a href="{{ path('survey_show_user',{'id':survey.id}) }}" target="_blank" class="btn btn-primary survey-widget-btn">
                    {{ survey.surveyPopUpMessage|safe_html}}
                </a>
            </div>
        </div>
    </div>
{% endfor %}
