<div class="col-12" xmlns:text-decoration="http://www.w3.org/1999/xhtml">
    <div class="card">
        <div class="card-header"> QuickLink
            {% block breadcrumb_menu %}
                 <a href="{{ path('sponsor_create') }}" class="btn btn-outline-success text-success">
                     <i class="fa fa-plus"></i> Endre quickLink</a>
            {% endblock %}
            </div>
        </div>
        <div class="card-body"> <!--Sånn her kommenterer vi! :D -->
            <div>
                <div class="row align-items-start">
                {% for quicklink in quickLinks%}
                    <div class="col-sm-3 text-center"  >
                       <div class="mx-auto">
                        <a href="{{quicklink.url}}" >
                            <div class= "quicklink-box" >
                            <img src="{{ asset_with_version(quicklink.iconUrl) }}" alt="Quicklink image" height="42" width="42" >
                                <h5 class="card-title unstyled-link"> {{quicklink.title}}  </h5>
                            </div>
                        </a>
                       </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
