{% extends 'adminBase.html.twig' %}

{% block title %}
    Opprett skole
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("schooladmin_show") }}">Skoler</a></li>
    <li class="breadcrumb-item active">Opprett</li>
{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">

            <h1> Opprett skole </h1>

            <hr>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">


                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>
            </div>


        </div>
    </div>
    </div>

{% endblock %}
