{% extends 'adminBase.html.twig' %}

{% block javascripts %}
    <script src="/js/allocation.js"></script>
{% endblock %}

{% block body %}
    <h1 class="text-center">Denne siden skal inneholde allokeringsappen</h1>
    <div class="row">
        <div class="large-12">
        </div>
        <table class="allocation_table">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Ukedag</th>
                <th>Bolk</th>
                <th>Skole</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4" class="text-center">
                    <h4>Laster assistenter...</h4>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="button medium">Bekreft</button>
        <button class="button medium">Tilbakestill</button>
        <button class="button medium">Tilbake</button>
    </div>


{% endblock %}