{% extends 'adminBase.html.twig' %}

{% block body %}
    <h1 class="text-center">Denne siden skal inneholde allokeringsappen</h1>
    <div class="row">
        <div class="large-12">
        </div>
        <table style="margin-left:auto; margin-right:auto">
            <tr>
                <th>Navn</th>
                <th>Skole</th>
                <th>Ukedag</th>
                <th>Bolk</th>
            </tr>
            {% for application in applications %}
                <tr>
                    <td>{{ application.user.firstName }} {{ application.user.lastName }}</td>
                    <td><select style="min-width: 100px" name="isAttending" id="isAttending" width="200">
                            {% for school in allocations %}
                                <option value="school">{{ school.school.name }}</option>
                            {% endfor %}
                        </select></td>
                    <td><select name="isAttending" id="isAttending"></select></td>
                    <td><select name="isAttending" id="isAttending"></select></td>
                </tr>
            {% endfor %}
        </table>
        <button class="button medium">Bekreft</button>
        <button class="button medium">Tilbakestill</button>
        <button class="button medium">Tilbake</button>
    </div>


{% endblock %}