{% extends 'adminBase.html.twig' %}

{% block body %}
    <h1 class="text-center">Denne siden skal inneholde allokeringsappen</h1>
    <div class="row">
        <div class="large-12">
        </div>
        <table class="allocation_table">
            <tr>
                <th>Navn</th>
                <th>Ukedag</th>
                <th>Skole</th>
                <th>Bolk</th>
            </tr>
            {% for assistant in assistants %}
                <tr>
                    {# Navn #}
                    <td>{{ assistant.name }}</td>

                    {# Ukedag #}
                    <td><select class="isAttending">
                            {% for day, dayAvail in assistant.availability %}
                                {% if dayAvail %}
                                    <option value="weekday_availability">
                                        {{ day }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>

                    {# Skole #}
                    <td>
                        <select class="isAttending">
                            {% for school in allocations %}
                                <option value="school">{{ school.school.name }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    {# Bolk #}
                    <td><select class="isAttending"></select></td>
                </tr>
            {% endfor %}
        </table>
        <button class="button medium">Bekreft</button>
        <button class="button medium">Tilbakestill</button>
        <button class="button medium">Tilbake</button>
    </div>


{% endblock %}