{% verbatim %}
<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>

<div id="app">
    <ol>
        <li v-for="assistant in assistants">
            {{assistant.name}}
        </li>
    </ol>
</div>


<h1 class="text-center">Denne siden skal inneholde allokeringsappen</h1>
<div class="row">
    <div class="small-12 columns">
        <button class="button medium">Bekreft</button>
        <button class="button medium">Tilbakestill</button>
        <button id="allocate_button" class="button medium">Autofordel</button>
        <button class="button medium">Tilbake</button>
    </div>
</div>
<br>
<div class="row">
    <div class="small-12 medium-6 columns">
        <h3 class="text-center">Skoler</h3>
        <div id="schools">Laster skoler...</div>
    </div>
    <div class="small-12 medium-6 columns">
        <h3 class="text-center">Assistenter</h3>
        <table class="allocation_table">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Ukedag</th>
                <th>Bolk</th>
                <th>Skole</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4" class="text-center">
                    <h4>Laster assistenter...</h4>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
    var assistants = [];
    $.get("/kontrollpanel/api/assistants", function (data) {
        JSON.parse(data).forEach(function (a) {
            assistants.push(new Assistant(a));
        });
    });

    var app = new Vue({
        el: "#app",
        data: {
            assistants: assistants
        }
    })
</script>
{% endverbatim %}