{% extends 'adminBase.html.twig' %}


{% block body %}

    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
