{% extends 'adminBase.html.twig' %}


{% block body %}
    <p></p>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="panel">

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="panel">

                            {{ form_start(form) }}
                            {{ form_widget(form) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
