{% if is_granted('ROLE_SUPER_ADMIN') %}
    {# Make applicant substitute #}
    <td>
        <form method="POST"
              onsubmit="return confirm('Lag vikar av {{ a.user.firstName }} {{ a.user.lastName }}?')"
              action="{{ path('substitute_create_from_application', { id: a.id }) }}">
            <button type="submit"
                    {% if a.substitute %} disabled {% endif %}
                    class="button tiny">
                <i class="fa fa-user-secret"></i>
                {{ a.substitute ? 'Allerede vikar':'Lag vikar' }}
            </button>
        </form>
    </td>
{% endif %}
