{% extends 'base.html.twig' %}

{% block title %}Utlegg{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Opprett utlegg</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h3>Aktive utlegg</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h3>Eldre utlegg</h3>
            <hr>
        </div>
    </div>
{% endblock %}
