{% extends 'base.html.twig' %}

{% block title %}Utlegg{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Mine Utlegg</h1>
            <hr>
        </div>
    </div>


    <div class="row">

        <div class="small-12 medium-12 large-12 columns">
            <hr>
        </div>

        <div class="small-12 medium-12 large-8 columns">

            <h3> Registrer nytt utlegg </h3>

        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <hr>

            {% include 'receipt/create_receipt.html.twig' with {'form': form, 'receipt': receipt} %}

        </div>
    </div>

    {% if active_receipts is not empty %}
        <div class="row">

            <div class="small-12 medium-12 large-12 columns">
                <hr>
            </div>

            <div class="small-12 medium-12 large-8 columns">

                <h3> Nye utlegg </h3>

            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">

                <hr>

                {% include 'receipt/my_receipts_table.html.twig' with {'receipts': active_receipts} %}

            </div>
        </div>
    {% endif %}

    {% if inactive_receipts is not empty %}
        <div class="row">

            <div class="small-12 medium-12 large-12 columns">
                <hr>
            </div>

            <div class="small-12 medium-12 large-8 columns">

                <h3> Refunderte utlegg </h3>

            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-12 large-12 columns">

                <hr>

                {% include 'receipt/my_receipts_table.html.twig' with {'receipts': inactive_receipts } %}

            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#receipt_picture').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#receipt_picturePath").change(function () {
            $('#receipt_picture').parent().removeClass('hide');
            readURL(this);
        });

    </script>

    <script>
        setTimeout(function () {
            $('.alert-box').fadeOut(800);
        }, 1500)
    </script>

    <script src="{{ asset_with_version('js/bankAccountNumberValidation.js') }}"></script>
{% endblock %}

