$vektor-white: #fafdff;
$vektor-blue: #6fceee;
$vektor-grey: #dbdcdd;
$admin-grey: #333333;
$grey: #8E8185;

$color-primary: "33, 150, 243";
$color-primary-dark: "25, 118, 210";
$color-accent: "238, 120, 111";
$color-primary-contrast: "255, 255, 255";
$color-accent-contrast: "255, 255, 255";
$dark-blue: #023874;
$color-devil: #666;

$color-status-no-contact: #9999ff;
$color-status-pending: #0d97c4;
$color-status-new-time: #F08A24;
$color-status-accepted: #32CD32;
$color-status-cancelled: #f40f0f;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
