$color-primary: "33, 150, 243";
$color-primary-dark: "25, 118, 210";
$color-accent: "238, 120, 111";
$color-primary-contrast: "255, 255, 255";
$color-accent-contrast: "255, 255, 255";
$color-vektor-blue: #6fceee;
$dark-blue: #023874;
