@import "../../../../node_modules/font-awesome/scss/font-awesome";
@import "colors";
@import "header";
@import "mobile_nav";
@import "about_us_page";
@import "contact_page";
@import "team";
@import "footer";
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Lato:400,500,700&subset=latin);

html.noscroll, body.noscroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background: #fafdff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 1.6;
  font-size: 18px;
}

.medium-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-devil {
  color: $color-devil;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;

  &.content-large {
    width: 1000px;
  }
}

.text-center {
  text-align: center;
}

.page-header, .page-cover {
  color: $dark-blue;

  h1 {
    font-size: 34px;
  }

  p {
    font-size: 20px;
  }

  @media (max-width: 766px) {
    margin-top: 25px;
    margin-bottom: 25px;
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 19px;
    }
  }
}

.page-cover {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-header {
  margin-top: 50px;
  margin-bottom: 110px;

  h1 {
    text-align: center;
  }
}

footer {
  margin-top: 64px;
  height: 400px;
  width: 100%;
  background-color: $dark-blue;
}

.segment {
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius:0.3rem;
  box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
  border: 1px solid rgba(34,36,38,.15)
}

.tooltip-inner{
  max-width: 350px;
}

.discreet-link {
  color:inherit;
  text-decoration: underline;
  &:hover {
    color:inherit;
  }
}

.text-dark-blue {
  color: $dark-blue;
}
