@import "../../../../node_modules/foundation-sites/scss/normalize";
@import "settings";
@import "../../../../node_modules/foundation-sites/scss/foundation";
@import "../../../../node_modules/font-awesome/scss/font-awesome";
@import "partials/fonts";
@import "partials/typography";
@import "modules/well";
@import "modules/colors";
@import "modules/team.scss";
@import "modules/interview_confirmation.scss";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

body {
  background: $vektor-white;
}

.inline-list {
  margin: $inline-list-top-margin $inline-list-opposite-margin $inline-list-bottom-margin $inline-list-default-float-margin;
}

.f-dropdown {
  outline: none;
}

.reveal-modal ul {
  margin-left: 0;
}

// The default vektor button with the blue border
.vektor-button {
  @include button-base();

  background: $vektor-white;
  color: black;
  border: solid $vektor-blue 3px;
  padding: rem-calc(7 20 7 20);

  // Medium screens
  @media only screen and (min-width: 40.063em) {
    font-size: rem-calc(16);
  }

  // Large screens
  @media only screen and (min-width: 64.063em) {
    font-size: rem-calc(20);
  }
}

//The inverted vektor button
.vektor-button-inverted {
  @include button-base();

  padding: rem-calc(7 20 7 20);
  background: $vektor-blue;
  color: white;
  border: solid $vektor-white 3px;
  font-size: rem-calc(20);
}

// A container with the same border as the vektor button
.vektor-box {
  padding: rem-calc(16);
  border: solid $vektor-blue 3px;
  margin-bottom: rem-calc(16);
}

// The toggle options box
.option-box {
  border: solid 1px $gainsboro;
  background: $white;
  margin: rem-calc(16) 0;

  h5 {
    padding: 8px 12px;
    margin: 0 0;
  }

  .toggle-caret {
    padding: 8px 12px;
    float: right;
    cursor: pointer;
  }

  .content {
    border-top: solid 1px $gainsboro;
    padding: 12px 12px;
  }

  .footer {
    padding: 8px 12px;
    border-top: solid 1px $gainsboro;
    background: $white-smoke;
  }
}

// Hide the content and the footer of the options box
.closed {
  .content, .footer {
    display: none;
  }
}

// Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

.topbar {
  width: 100%;
  height: rem-calc(15);
  background: $vektor-blue;
  color: $vektor-white;
  font-size: rem-calc(15);
  margin-bottom: rem-calc(22);

  .row, .columns {
    height: rem-calc(30);
  }

  ul {
    margin: $inline-list-top-margin $inline-list-opposite-margin 0 $inline-list-default-float-margin;
    position: absolute;
    bottom: 0.2rem;
    right: 2rem + $column-gutter / 2;
  }

  li {
    margin: 0 0.3rem 0 0;
  }

  i.fa-chevron-up, ul {
    display: none;
  }

  .fa-chevron-up {
    position: absolute;
    bottom: 0;
    right: $column-gutter / 2;
  }

  .fa-chevron-down {
    position: absolute;
    bottom: 0.9rem;
    right: $column-gutter / 2;
  }

  &:hover {
    height: rem-calc(30);
    margin-bottom: rem-calc(7);

    i.fa-chevron-down {
      display: none;
    }

    i.fa-chevron-up, ul {
      display: inherit;
    }

    ul {
      font-size: 1.3rem;
    }
  }
}

.arrow {
  color: $vektor-blue;
}

header {
  @include grid-row;

  nav {
    float: right;
    margin-top: 88px;
    @media screen and (max-width: 874px) {
      margin-top: 10px;
    }
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: - rem-calc(35);

      > li {
        float: left;

        // Medium screens
        @media only screen and (min-width: 40.063em) {
          margin-left: rem-calc(15);
        }

        // Large screens
        @media only screen and (min-width: 64.563em) {
          margin-left: rem-calc(30);
        }
      }
    }
  }
}

// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -
footer {

  .row {
    border-top: solid 3px $vektor-blue;
    padding-top: 2rem;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }

}

.admin-footer {
  padding-top: 10px;
  .row {
    border-top: solid 3px $admin-grey;
  }
}

// Home
// - - - - - - - - - - - - - - - - - - - - - - - - -
.banner-heading {
  font-family: "Londrina Solid", sans-serif;
  font-size: rem-calc(50);
  margin-bottom: 2rem;
  margin-top: 2rem;

  p {
    font-family: "Londrina Solid", sans-serif;
    font-size: rem-calc(50);
  }
}

/*.home-icon-container {
  padding: rem-calc(10 0);
  background: $vektor-white;
  border: solid $vektor-blue 3px;
  //font-size: rem-calc(20);
}*/

#fa-calculator, #fa-briefcase, #fa-paperclip {
  color: $vektor-blue;
}

// Article
// - - - - - - - - - - - - - - - - - - - - - - - - -

// News carousel graceful loading fix, hides images before javascript is finished loading.
.news-carousel {
  display: none;
}

.news-carousel-text {

  // Small screens
  @media only screen {
    text-align: center;
  }

  // Medium screens and over
  @media only screen and (min-width: 40.063em) {
    text-align: inherit;
  }

}

.article-box {
  margin-bottom: rem-calc(20);
}

.article-heading {
  font-family: "Londrina Solid", sans-serif;

  // Medium screens
  @media only screen and (min-width: 40.063em) {
    font-size: rem-calc(35);
  }

  // Large screens
  @media only screen and (min-width: 64.063em) {
    font-size: rem-calc(55);
  }

  line-height: 1.1;
}

.department-filter {
  a, p {
    font-weight: bold;
  }
}

.department-filter-active {
  border-bottom: 2px solid $vektor-blue;
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  .byline {
    color: $vektor-blue;
  }

  .for-department {
    color: $vektor-blue;
    font-weight: bold;
    margin-bottom: 0;
  }
}

// Admission & Contact
// - - - - - - - - - - - - - - - - - - - - - - - - -

.admissioncontainer {
  background-color: $vektor-blue;
  color: $vektor-white;
  width: 100%;

  h1, h3, h4, label {
    color: $vektor-white;
  }
  .team-link {
    margin-bottom: 10px
  }
}

// AdmissionAdmin
// - - - - - - - - - - - - - - - - - - - - - - - - -

.interview-assign {
  border-bottom: solid #dddddd 1px;
}

.active-application {
  border-top: solid #dddddd 1px;
  border-bottom: solid #dddddd 1px;
}

#bulkAllCheck, input[type="checkbox"].bulkCheck {
  margin: rem-calc(4) 0 0 0;
  min-width: rem-calc(16);
  min-height: rem-calc(16);
}

#bulkAction {
  line-height: rem-calc(34);
  height: rem-calc(34);
}

#bulkSelect {
  padding: 0 0 0 rem-calc(5);
  height: rem-calc(34);
}

#interviewStatusNav {
  margin: rem-calc(10) 0 0 0;
}

// Interview
// - - - - - - - - - - - - - - - - - - - - - - - - -

.question-label, .question-title {
  font-weight: bold;
  font-size: 1rem;
}

.question-help {
  font-size: 0.9rem;
}

ul.alternatives {
  margin-bottom: 1rem;
  input[type="checkbox"], input[type="radio"] {
    margin: 0 0;
  }
}

.radio-grid {
  margin-left: 0;
  list-style-type: none;
  &>div>li{
    margin-right: 1rem;
    display:inline-block;
  }
}

// Utils
// - - - - - - - - - - - - - - - - - - - - - - - - -

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.slide-group {
  margin-top: 30px;
  display: none;
}

// Sponsor
.vertical-align-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor-img {
  max-height: 150px;
  vertical-align: middle;
  .small {

  }
}

//Team specific
#oldWorkHistoriesButton {
  margin: 30px 0;
}

#oldWorkHistories {
  margin-top: 30px;
  display: none;
}

// Sponsor
.vertical-align-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor-img-small {
  vertical-align: middle;

  @media screen and (max-width: 900px) {
    max-width: 100%;
    max-height: 50%;
  }
  @media screen and (min-width: 900px) {
    max-width: 200px;
    max-height: 25%;
  }
}

.sponsor-img-medium {
  vertical-align: middle;
  max-height: 50%;
  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1000px) {
    max-width: 300px;
  }
;
}

.sponsor-img-large {
  vertical-align: middle;
  max-height: 90%;
  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1000px) {
    max-width: 400px;
  }
}

.sponsor-column {
  height: 150px;
}

//Top line
.top-line {
  width: 100%;
  height: 20px;
  background-color: $vektor-blue;
  margin-bottom: 20px;
  p {
    color: #b70000;
    font-size: 14px;
    text-align: center;
    a {
      color: #b70000;
      text-decoration: underline;
    }
  }
}

//Team specific
#oldWorkHistoriesButton {
  margin: 30px 0;
}

#oldWorkHistories {
  margin-top: 30px;
  display: none;
}

//Control Panel
.control-panel {
  hr {
    padding: 10px;
  }

  .control-panel-item {
    text-align: center;
  }

  h3 {
    padding: 20px;
  }

  .control-panel-item i {
    color: #008CBA;
  }

  .control-panel-item i:hover {
    color: #007095;
  }
}

.admin-top-line {
  background-color: $admin-grey;
}

//Admin Base

.control-panel-header {
  margin-top: 75px;
  text-align: center
}

//Navigation Menu
.control-menu {
  padding-top: 17px;
  padding-bottom: 1px;
  background-color: #333333;

  .f-dropdown.mini {
    max-width: 100px;
  }

  .f-dropdown.very-small {
    max-width: 150px;
  }

  > ul {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    list-style-type: none;
    > li {
      text-align: center;
      flex-grow: 1;
      display: inline-block;
      > ul > li {
        text-align: left;
      }
      > a, .arrow {
        font-weight: bold;
        color: #dfdfdf;

        &:hover {
          color: #ffffff;
        }
      }
    }

  }
}

// Step-by-Step
//-------------------------------------------

.control-panel {
  hr {
    padding: 10px;
  }
  .control-panel-item {
    text-align: center;
  }
  h2 {
    padding: 20px;
  }
  .control-panel-item i {
    color: #008CBA;
  }
  .control-panel-item i:hover {
    color: #007095;
  }

  //Hide Step-by-Step for small screens
  @media(max-width: 785px) {
    .sbs {
      display: none;
    }
  }
  .step-box {
    height: 200px;
    /*border-left: 1px solid black;
    border-left-color: $vektor-blue;*/
    text-align: center;
    padding-top: 10px;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  .step-active {
    background-color: $vektor-white;
    border: 2px solid $vektor-blue;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  }

  .step-completed {
    color: #b4b4cb;
    border-left-color: #b4b4cb;
    h4, a {
      color: #b4b4cb;
    }
    a:hover {
      color: #8989a0;
    }
    a {
      text-decoration: underline;
    }

  }

  .step-spacing {
    height: 20px;
  }

  .progressbar {
    $step-progress-bar-ring-size: 40px;
    $step-progress-bar-ring-width: 12px; //Må være partall
    $step-progress-bar-border-color: #474747;

    .step {
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;

      .ring-container {
        width: 40px;
        display: inline-block;
        .outer-ring {

          width: $step-progress-bar-ring-size;
          height: $step-progress-bar-ring-size;
          border: 1px solid $step-progress-bar-border-color;
          border-radius: $step-progress-bar-ring-size;
          background-color: $vektor-white;
          display: flex;
          justify-content: center;
          align-items: center;

          .inner-ring {
            width: $step-progress-bar-ring-size - $step-progress-bar-ring-width;
            height: $step-progress-bar-ring-size - $step-progress-bar-ring-width;
            border: 1px solid $step-progress-bar-border-color;
            border-radius: $step-progress-bar-ring-size - $step-progress-bar-ring-width;
            background-color: $vektor-white;
          }
        }

        .fill {
          background-color: $vektor-blue;
        }
      }

      .line-container {
        width: 100%;
        display: inline-block;
        background-color: $vektor-white;
        margin-left: -2px;
        margin-right: -2px;
        z-index: 1;
        .line {
          height: $step-progress-bar-ring-width;
          width: 100%;
          border-top: 1px solid $step-progress-bar-border-color;
          border-bottom: 1px solid $step-progress-bar-border-color;

          .fill {
            width: 0;
            height: 100%;
            background-color: $vektor-blue;
          }
        }

      }

    }

  }
}

//500 server error
.error-500 {
  margin-bottom: 50px;
  margin-top: 50px;
}

//Survey results
.survey-filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  select {
    height: 110px;
    overflow-y: auto;
  }
}

#filter {
  display: none;
  button {
    margin-top: 10px;
  }
  .survey-filter-wrapper {
    h6 {
      max-height: 90px;
    }
    height: 200px;
    select {
      height: 110px;
    }
  }
}

#show-filter-btn {
  display: none;
}

.charts {
  > div {
    h6 {
      font-size: 14px;
      font-weight: bold;
    }
    border-bottom: 1px dotted #cdced1;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .chart {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .pie-legend {
    list-style-type: none;
    li span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
  .no-answer {
    text-align: center;
    margin-bottom: 100px;
    color: $warning-button-bg-color;
  }
}

#charts {
  margin-top: 100px;
}

#text-answers {
  display: none;
}

[class*="column"] + [class*="column"]:last-child {
  float: left;
}

.hide {
  display: none;
}

.team-interest-table {
  padding-top: 25px;

}

#substitute-table {
  th {
    user-select: none;
  }
  .clickable {
    cursor:pointer;
  }
}
