.contact-page {
  .page-header {
    margin-bottom: 20px;
  }
  .department {
    margin-bottom: 25px;

    h2 {
      font-size: 35px;
    }

    .department-name {
      color: #808080;
    }

    .email {
      margin: 25px 0;
    }

    .contact-dep-btn {
      margin-top: 32px;
    }

    .department-img-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

    }

    .contact-info {
      font-size: 15px;
    }
  }

  .list-group {
    h5 {
      font-size: 16px;
    }
    p {
      a {
        color: #495057;
      }
    font-size: 14px;
    }
  }

}
