@import "custom";
@import "../../../../node_modules/@coreui/coreui/scss/coreui";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import "partials/fonts";
@import "partials/typography";
@import "footer";
@import "modules/colors";

$sidebar-width: 225px;
body {
  font-family: 'Lato', sans-serif;
  background: $vektor-white;
  font-size: 14px;
}

.card-header {
  font-size: 16px;
}

.app-header {
  .dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #c8ced3;
  }
}

.main .container-fluid {
  padding: 0 15px;
}

.dropdown-item, .btn {
  font-size: 14px;
}

html:not([dir=rtl]) {
  .sidebar-show {
    &.sidebar-fixed {
      .main {
        margin-left: $sidebar-width;
      }
      .breadcrumb {
        .navbar-toggler {
          display: none;
        }
      }
    }
    .app-body {
      .sidebar {
        margin-left: 0;
        height: 100vh;
      }
    }
  }
  .app-body {
    @media (max-width: 991.98px) {
      margin-top: 0;
    }
    .sidebar {
      margin-left: -$sidebar-width;
      width: $sidebar-width;
      @media (min-width: 992px) {
        margin-left: 0;
      }
      .sidebar-nav {
        width: $sidebar-width;
        ul.nav {
          width: $sidebar-width;
          .nav-link {
            &:hover {
              background: $info;
              &.active .nav-icon {
                color: $white;
              }
            }
            &.active {
              .nav-icon {
                color: $info;
              }
            }
          }
        }
      }
    }
  }

  .sidebar-lg-show.sidebar-fixed .main {
    @media (min-width: 576px) and (min-width: 992px) {
      margin-left: $sidebar-width;
    }
  }

  .flash-message {
    margin-top: -1rem;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
  border-bottom: 1px solid #c8ced3;
  position: relative;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.f-dropdown {
  outline: none;
}

.reveal-modal ul {
  margin-left: 0;
}

// Hide the content and the footer of the options box
.closed {
  .content, .footer {
    display: none;
  }
}

// Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

.top-header {
  margin-bottom: 16px;
}

.arrow {
  color: $vektor-blue;
}

// AdmissionAdmin
// - - - - - - - - - - - - - - - - - - - - - - - - -

.interview-assign {
  border-bottom: solid #dddddd 1px;
}

.active-application {
  border-top: solid #dddddd 1px;
  border-bottom: solid #dddddd 1px;
}

// Interview
// - - - - - - - - - - - - - - - - - - - - - - - - -

.question-label, .question-title {
  font-weight: bold;
  font-size: 1rem;
}

.question-help {
  font-size: 0.9rem;
}

ul.alternatives {
  margin-bottom: 1rem;
  input[type="checkbox"], input[type="radio"] {
    margin: 0 0;
  }
}

.radio-grid {
  margin-left: 0;
  list-style-type: none;
  & > div > li {
    margin-right: 1rem;
    display: inline-block;
  }
}

// Utils
// - - - - - - - - - - - - - - - - - - - - - - - - -

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.slide-group {
  margin-top: 30px;
  display: none;
}

// Sponsor
.vertical-align-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor-img {
  max-height: 150px;
  vertical-align: middle;
  .small {

  }
}

//Team specific
#oldTeamMembershipsButton {
  margin: 30px 0;
}

#oldTeamMemberships {
  margin-top: 30px;
  display: none;
}

// Sponsor
.vertical-align-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor-img-small {
  vertical-align: middle;

  @media screen and (max-width: 900px) {
    max-width: 100%;
    max-height: 50%;
  }
  @media screen and (min-width: 900px) {
    max-width: 200px;
    max-height: 25%;
  }
}

.sponsor-img-medium {
  vertical-align: middle;
  max-height: 50%;
  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1000px) {
    max-width: 300px;
  }
;
}

.sponsor-img-large {
  vertical-align: middle;
  max-height: 90%;
  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1000px) {
    max-width: 400px;
  }
}

.sponsor-column {
  height: 150px;
}

//Team specific
#oldTeamMembershipsButton {
  margin: 30px 0;
}

#oldTeamMemberships {
  margin-top: 30px;
  display: none;
}

//Control Panel
.control-panel {
  hr {
    padding: 10px;
  }

  .control-panel-item {
    text-align: center;
    margin: 10px 0;
  }

  h3 {
    padding: 20px;
  }

  .control-panel-item i {
    color: #008CBA;
  }

  .control-panel-item i:hover {
    color: #007095;
  }
}

.admin-top-line {
  background-color: $admin-grey;
}

//Admin Base

.control-panel-header {
  margin-top: 75px;
  text-align: center
}

//Navigation Menu
.control-menu {
  padding-top: 17px;
  padding-bottom: 1px;
  background-color: #333333;

  .f-dropdown.mini {
    max-width: 100px;
  }

  .f-dropdown.very-small {
    max-width: 150px;
  }

  > ul {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    list-style-type: none;
    > li {
      text-align: center;
      flex-grow: 1;
      display: inline-block;
      > ul > li {
        text-align: left;
      }
      > a, .arrow {
        font-weight: bold;
        color: #dfdfdf;
        font-family: "Lato", sans-serif;

        &:hover {
          color: #ffffff;
        }
      }
    }

  }
}

// Step-by-Step
//-------------------------------------------

.control-panel {
  hr {
    padding: 10px;
  }
  .control-panel-item {
    text-align: center;
  }
  h2 {
    padding: 20px;
  }
  .control-panel-item i {
    color: #008CBA;
  }
  .control-panel-item i:hover {
    color: #007095;
  }

  .sbs {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  //Hide Step-by-Step for small screens
  @media(max-width: 785px) {
    .sbs {
      display: none;
    }
  }
  .step-box {
    height: 200px;
    /*border-left: 1px solid black;
    border-left-color: $vektor-blue;*/
    text-align: center;
    padding-top: 10px;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  .step-active {
    background-color: $vektor-white;
    border: 2px solid $vektor-blue;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  }

  .step-completed {
    color: #b4b4cb;
    border-left-color: #b4b4cb;
    h4, a {
      color: #b4b4cb;
    }
    a:hover {
      color: #8989a0;
    }
    a {
      text-decoration: underline;
    }

  }

  .step-spacing {
    height: 20px;
  }

  .progressbar {
    $step-progress-bar-ring-size: 40px;
    $step-progress-bar-ring-width: 12px; //Må være partall
    $step-progress-bar-border-color: #474747;

    .step {
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;

      .ring-container {
        width: 40px;
        display: inline-block;
        .outer-ring {

          width: $step-progress-bar-ring-size;
          height: $step-progress-bar-ring-size;
          border: 1px solid $step-progress-bar-border-color;
          border-radius: $step-progress-bar-ring-size;
          background-color: $vektor-white;
          display: flex;
          justify-content: center;
          align-items: center;

          .inner-ring {
            width: $step-progress-bar-ring-size - $step-progress-bar-ring-width;
            height: $step-progress-bar-ring-size - $step-progress-bar-ring-width;
            border: 1px solid $step-progress-bar-border-color;
            border-radius: $step-progress-bar-ring-size - $step-progress-bar-ring-width;
            background-color: $vektor-white;
          }
        }

        .fill {
          background-color: $vektor-blue;
        }
      }

      .line-container {
        width: 100%;
        display: inline-block;
        background-color: $vektor-white;
        margin-left: -2px;
        margin-right: -2px;
        z-index: 1;
        .line {
          height: $step-progress-bar-ring-width;
          width: 100%;
          border-top: 1px solid $step-progress-bar-border-color;
          border-bottom: 1px solid $step-progress-bar-border-color;

          .fill {
            width: 0;
            height: 100%;
            background-color: $vektor-blue;
          }
        }

      }

    }

  }
}

//500 server error
.error-500 {
  margin-bottom: 50px;
  margin-top: 50px;
}

//Survey results
.survey-filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  select {
    height: 110px;
    overflow-y: auto;
  }
}

#filter {
  display: none;
  button {
    margin-top: 10px;
  }
  .survey-filter-wrapper {
    h6 {
      max-height: 90px;
    }
    height: 200px;
    select {
      height: 110px;
    }
  }
}

#show-filter-btn {
  display: none;
}

.charts {
  > div {
    h6 {
      font-size: 14px;
      font-weight: bold;
    }
    border-bottom: 1px dotted #cdced1;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .chart {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .pie-legend {
    list-style-type: none;
    li span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
  .no-answer {
    text-align: center;
    margin-bottom: 100px;
    color: #ff9b28;
  }
}

#charts {
  margin-top: 100px;
}

#text-answers {
  display: none;
}

[class*="column"] + [class*="column"]:last-child {
  float: left;
}

.hide {
  display: none;
}

.team-interest-user-table {
  padding-top: 25px;
}

#substitute-table {
  th {
    user-select: none;
  }
  .clickable {
    cursor: pointer;
  }
}

#receipt-form {
  display: none;
}

.receipt-upload-hack {
  height: 1px;
  width: 1px !important;
  position: absolute;
  left: 115px;
  pointer-events: none;
  opacity: 0;
  margin-top: 51px !important;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#receipt_receiptDate select {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.button-link, .button-link:hover, .button-link:focus {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.table-action {
  line-height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 10px;

  i {
    font-size: 1.2em;
  }

  .action-label {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1025px) {
  table tr .table-action {
    opacity: 0;
  }

  table tr:hover .table-action {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.number-of-pending-receipts-indicator {
  background-color: #f08a24;
  color: #fff;
  border-radius: 50%;
  display: block;
  height: 22px;
  width: 22px;
  text-align: center;
  line-height: 22px;
  font-weight: bold;
  cursor: default;
}

.has-pending-receipts {
  border-left: solid 3px #f08a24;
}

.number-of-pending-receipts-indicator.has-tip:hover {
  color: #fff;
}

.delete-icon {
  position: absolute;
}

img.gallery-preview-image {
  display: inline;
  height: 100px;
}

li.image-gallery-grid-element {
  position: relative;
  overflow: hidden;
  * {
    transition: 0.2s;
  }
  .edit-image-text {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 18px;
    margin-top: -9px;
    color: white;
    pointer-events: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6), 0 1px 1px rgba(0, 0, 0, 0.4);
  }

  img:hover {
    filter: brightness(95%) grayscale(40%) blur(1px);
  }
  &:hover .edit-image-text {
    opacity: 1;
  }
  padding: 2px;
}

#create-gallery-form {
  display: none;
}

.inline {
  display: inline;
}

.half-size-text {
  font-size: 50%;
  vertical-align: middle;
  margin: inherit;
}

.inherit-parent-margins {
  margin: inherit;
}

.upload-gallery-image-hack {
  position: absolute;
  left: 98px;
  top: 28px;
  width: 1px !important;
  outline: none;
  opacity: 0;
  pointer-events: none;
}

.show-on-hover {
  transition: 0.1s;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

button.secretly-not-a-button {
  background: none;
  outline: none;
  height: 100%;
  padding: 0;
  position: absolute;
  font-size: inherit;
}

.position-relative {
  position: relative;
}

#specialNeeds {
  display: none;
}

.inline-block {
  display: inline-block;
}

.payout {
  font-size: 40px;
}

.text-faded {
  opacity: 0.8;
}

.checkbox label {
  display: inline;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.my-32px {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.button-icon-left {
  margin-right: 6px;
}

.button-icon-right {
  margin-left: 6px;
}

.clickable:hover {
  cursor: pointer;
}

.profile-photo {
  filter: grayscale(100%);
}

.interviewer {
  overflow: hidden;
  .bordered {
    border: 1px solid #eee;
  }
  img {
    max-height: 150px;
    max-width: 150px;
  }
  .no-co-interviewer {
    position: relative;
    display: flex;
    flex-direction: column;
    .profile-photo-overlay {
      color: #fff;
      font-weight: 700;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      opacity: 0.8;
      position: absolute;
      padding-top: 50%;
      margin-top: -15px;
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
  }
}

.profile-photo-blur {
  filter: blur(30px) grayscale(100%);
  overflow: hidden;
}

.img-blur-container {
  overflow: hidden;
}

.table-icon {
  display: inline-block;
  width: 20px;
  max-width: 100%;
}

.table-menu {
  width: 20px;
}

.table {
  min-height: 140px;

}

.not-clickable {
  cursor: default!important;
  &:focus{
    box-shadow: none;
  }
}

.scrollable{
  overflow-y: auto;
  max-height: 377px;
}

.changelog_card{
  border-radius: 6px;
  .dato {
    color: $secondary;
  }
  a {
    color: #007bff;
  }
}

.vertical-middle {
  vertical-align: middle;
}

table.table {
  margin-bottom: 0;
}

.smiley-box {
  padding: 1.25rem;
  display:flex;
  align-items: center;
}

.big-green-smiley {
  vertical-align: middle;
  font-size: 70px;
  width: 70px;
  color: $green;
  display: inline-block;
  margin-right: 1.25rem;
}

.big-green-text {
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: bold;
  color: #555;
}
