#footerContainer {
  color: #fafdff;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #023874;
}

#footerContainer a {
  color: #5189C8;
}

.footerElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 10px;
}

.footerInfo p{
  font-size: 105%;
  margin: 3px;
}

.ikon {
  width:1em;
  margin-right:.5em;
}

#sponsorLinker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 996px) {
  #googleMap {
    display: none;
  }
  .footerInfo {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 470px) {
  .footerElement {
    justify-content: space-between;
    margin-left: 30px;
  }
}
@media screen and (max-width: 335px) {
  .footerElement {
    margin-left: 1px;
    font-size: 80%;
  }
}