@import "colors";

.top-header {
  width: 100%;
  padding: 8px 0;
  background: #ffffff;
}

.mobile-header-pusher {
  height: 60px;
  opacity: 0;
}

.mobile-header {
  z-index:1;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: fixed;

  .mobile-header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;

    .company-name {
      text-align: center;
      width: 100%;

      font-size: 24px;
      color: $dark-blue;

      @media (max-width: 350px) {
        font-size: 20px;
      }
    }
  }
}

.desktop-header {
  font-family: "Lato", sans-serif;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  height: 85px;
}

.mobile-logo {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  width: 100px;
}

.main-navigation {
  margin: 0 auto;
  position: relative;
}

.main-navigation>a:first-of-type {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .top-header {
    padding: 10px 0;
    .container {
      max-width: 100%;
    }
  }

  .main-navigation {
    margin: 10px 0;
  }
}

.main-navigation {
  display: flex;
  justify-content: center;
}


.main-navigation {
  .dropdown-item, .form-control, .btn {
    font-size: 14px;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2px;
    white-space: nowrap;
  }

  .menu-link:last-child {
    padding-right: 0;
  }

  .user-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .login-form {
      min-width: 300px;
    }

    .user-link {
      font-size: 14px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .profile-picture {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;

      background-size: cover;
      background-position: center center;
    }
  }
  .menu-link {
    padding: 14px 16px;
    align-self: flex-end;
    font-size: 17px;
    color: #4A5155;

    &:active, &:hover, &.active {
      text-decoration: none;
      color: $dark-blue;
    }

    &.active {
      font-weight: 700;
    }
  }
}
