.team {
  .mdc-tab-bar__indicator {
    background-color: #2196F3;
  }
  .panels {
    border-top: 1px solid #e0e0e0;
    padding-top: 25px;
    .panel {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  section {
    margin: 100px auto;
  }

  .team-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .team-card {
    margin-bottom: 25px;
    max-width: 100%;

    .team-card__header {
      height: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        align-self: flex-start;
      }
    }

    .profiles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 16px;

      .profile-photo {
        max-width: 100%;
      }

      .img-wrapper {
        width: 25%;
        margin: 0;
      }
    }

    .mdc-card__supporting-text {
      color: #666;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .team-card__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      a {
        color: #2196f3;
      }
    }

  }

  .application-chip {
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    text-align: right;
    background-color: #f7f7f7;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 0 12px 0 0;
    border: 0;
    display: inline-block;
    color: rgba(0,0,0,.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;

    .application-chip__symbol {
      width: 26px;
      height: 26px;
      line-height: 26px;
      border-radius: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      overflow: hidden;
      text-align: center;
      font-size: 18px;
      background-color: #26a69a;
      color: #fff;
    }

    .application-chip__text {
      line-height: 26px;
      font-size: 13px;
      vertical-align: middle;
      display: inline-block;
    }
  }

}

.team-page {
  h1 {
    // Override page-header center alignment
    text-align: left !important;
  }

  .page-cover {
    @media (min-width: 767px) {
      max-height:500px;
    }
  }

  .team-overview {
    > * {
      width:100%; // But why do i need this tho
    }
  }

  .card {
    display:inline-block;
  }

  .team-card {
    h5 {
      a {
        color: #333 !important;
      }
    }

    a[href^="mailto"] {
      color:#777 !important;
      font-size:14px;
    }

    p {
      font-size: 15px;
    }

    width:290px;
    max-width:100%;
    box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
  }

  .team-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
