Hei igjen {{ name }}!

Du har nå logget deg inn med Vektor-eposten din. Fullfør de neste stegene for å utnytte deg av alle godene dette innebærer.



Hilsen
Vektorprogrammet

<br/>

<a href="https://vektorprogrammet.no{{ path('home') }}">
    <img src="https://vektorprogrammet.no/images/vektor.png" alt="https://vektorprogrammet.no{{ path('home') }}">
</a>
