<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">

<table class="spacer">
    <tbody>
    <tr>
        <td height="10px">&#xA0;</td>
    </tr>
    </tbody>
</table>

<table align="center" class="container">
    <tbody>
        <tr>
            <td>
                <h3>Hei igjen {{ name }}!</h3>
            </td>
        </tr>
        <tr>
            <td>
                <p>Du har nå logget deg inn med Vektormailen din. Fullfør det neste steget for å utnytte deg av alle godene dette innebærer.</p>
                <ol>
                    <li>
                        Gå til <a href="https://join.slack.com/t/vektorprogrammet/signup" target="_blank" rel="noreferrer">Slack.com</a> og følg instruksjonene.
                    </li>
                    <li>
                        Ikke glem å logge deg på Slack på mobil også!
                    </li>
                    <li>
                        Sjekk ut hva som finnes i <a href="https://drive.google.com/drive/my-drive" target="_blank" rel="norefferer">Driven</a> (pass på at Vektorkontoen din er valgt).
                    </li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <table class="spacer">
                    <tbody>
                    <tr>
                        <td height="30px">&#xA0;</td>
                    </tr>
                    </tbody>
                </table>

                <footer>
                    Hilsen
                    Vektorprogrammet

                    <a href="https://vektorprogrammet.no{{ path('home') }}">
                        <img src="https://vektorprogrammet.no/images/vektor.png" alt="https://vektorprogrammet.no{{ path('home') }}">
                    </a>

                </footer>

            </td>
        </tr>
    </tbody>
</table>
<table class="spacer">
    <tbody>
    <tr>
        <td height="30px">&#xA0;</td>
    </tr>
    </tbody>
</table>
