{% extends "base.html.twig" %}

{% block body %}
    <div class="container content">
        <div class="page-header page-header-thin text-center">
            <h1>
                Søknad mottatt!
            </h1>
            <p class="text-center">Du vil om kort tid få en e-post som bekreftelse på søknaden din.</p>
        </div>
        <p class="text-center">Hvis dette er din første gang som vektorassistent, kontakter vi deg et par dager etter søknadsfristen med informasjon om intervju.
        Vi gleder oss til å møte deg!</p>
    </div>
{% endblock %}
