{% extends "base.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>
            Søknad mottatt!
        </h1>
        <p class="text-center">Du vil om kort tid få en e-post med informasjon om prosessen videre.</p>
    </div>
{% endblock %}
