{% if teams is not empty %}
<div class="row">
    <div class="text-center">
        <h4>Følgende team har opptak</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-12 large-8 large-offset-2 columns text-center">
        {% for team in teams %}
            <a href="{{ path('team_page',{id:team.id}) }}" class="button tiny team-link"> {{ team.name }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}