{% extends 'adminBase.html.twig' %}


{% block javascripts %}


    <script>


        $("#search").keyup(function () {

            _this = this;

            $.each($(".table tbody").find("tr"), function () {

                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

        });

    </script>


{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Brukere
    </li>
{% endblock %}

{% block breadcrumb_menu %}
    {% if is_granted_team_leader() %}
        <div class="btn-group">
            {% include "common/department_dropdown.html.twig" with {'pathForDepartment': 'useradmin_filter_users_by_department', 'departmentParameterName': 'id', 'currentDepartment': department} %}
            <a class="btn text-success btn-sm" href="{{ path('useradmin_create_user', { 'id': department.id }) }}">
                <i class="fa fa-user-plus"></i> Ny bruker
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    Brukere
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-3">Brukere {{ department }}</h2>
            <ul class="nav nav-tabs mt-4">
                <li class="nav-item">
                    <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="home" aria-selected="true">Aktive brukere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive" role="tab" aria-controls="home" aria-selected="true">Inaktive brukere</a>
                </li>
                <li class="nav-item ml-auto">
                    <input class="form-control" type="text" id="search" placeholder="Søk..."/>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
                    {% include 'user_admin/user.table.html.twig' with {users: activeUsers} %}
                </div>
                <div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">
                    {% include 'user_admin/user.table.html.twig' with {users: inActiveUsers} %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}



