{% extends 'adminBase.html.twig' %}


{% block javascripts %}


    <script>


        $("#search").keyup(function () {

            _this = this;

            $.each($("#table tbody").find("tr"), function () {

                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

        });

    </script>


{% endblock %}

{% block title %}
    Brukere
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">

            <h1> Brukere </h1>

            <hr>

            <div class="row">

                <div class="col-12 col-md-12 col-lg-6">

                    <ul class="inline-list">

                        {# Dropdown to choose department, only for superadmins #}
                        {% if is_granted_team_leader() %}

                            {% include "common/department_dropdown.html.twig" with {'pathForDepartment': 'useradmin_filter_users_by_department', 'departmentParameterName': 'id', 'currentDepartment': department} %}

                            {# Button to create a user, dropdown for superadmin and regular button for admin #}
                            <li>
                                <a class="button tiny" data-dropdown="superadminCreateUser"
                                   aria-controls="superadminCreateUser" aria-expanded="false">Opprett bruker &raquo;</a>
                                <ul id="superadminCreateUser" class="f-dropdown" data-dropdown-content tabindex="-1"
                                    aria-hidden="true" aria-autoclose="false" tabindex="-1">

                                    {% for d in departments %}

                                        <li>
                                            <a href="{{ path('useradmin_create_user', { 'id': d.id }) }}">{{ d.shortName }}</a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('useradmin_create_user') }}" class="button tiny">Opprett bruker</a>
                            </li>
                        {% endif %}

                    </ul>

                </div>

                <div class="col-12 col-md-12 col-lg-6">

                    <input type="text" id="search" placeholder="Søk..."/>

                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <hr>
            {% include 'user_admin/user.table.html.twig' with {users: activeUsers} %}
        </div>
    </div>



    {% if is_granted_team_leader() %}

        <p></p>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">

                <h1> Inaktive Brukere </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <hr>
                {% include 'user_admin/user.table.html.twig' with {users: inActiveUsers} %}
            </div>
        </div>

    {% endif %}
{% endblock %}



