{% extends 'adminBase.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">Foreldrekurs</li>
{% endblock %}

<!--{% block breadcrumb_menu %}
    <a href="{{ path('parent_course_create') }}" class="btn btn-outline-success text-success">
        <i class="fa fa-plus"></i> Planlegg nytt foreldrekurs </a>
{% endblock %}-->