<table width="100%" id="activeReceiptsTable">

    <thead>

    <tr>
        <th> Navn</th>
        <th> Sum</th>
        <th> Kontonummer</th>
    </tr>

    </thead>

    <tbody>
    {% for receipt in receipts%}
        <tr>
            <td><a href="{{ path('receipts_show_individual', {'receipt': receipt.id}) }}"> {{ receipt.user.getFullName }} </a></td>
            <td> {{ receipt.sum|number_format(2, ',', '.') }},- </td>
            <td> {{ receipt.user.accountNumber }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
