{% extends 'adminBase.html.twig' %}

{% block title %}Utlegg{% endblock %}

{% block body %}
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h1>Utlegg</h1>
    </div>
</div>

<div class="row">

    <div class="small-12 medium-12 large-12 columns">
        <hr>
    </div>

    <div class="small-12 medium-12 large-8 columns">

        <h3> Brukere med utlegg </h3>

    </div>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">

        <br>

        <table width="100%">

            <thead>

            <tr>
                <th> Navn</th>
                <th> Email</th>
                <th> Kontonummer</th>
            </tr>

            </thead>

            <tbody>
            {% for user in users_with_receipts %}
                <tr>
                    <td><a href="{{ path('receipts_show_individual', {'user': user.id}) }}"> {{ user.fullName }} </a></td>

                    <td> {{ user.email }}</td>
                    <td> {{ user.accountNumber }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>


    </div>
</div>
{% endblock %}
