{#
    The html template for the editing of an album in the gallery.

#}

{% block javascripts %}
    <script type="text/javascript">

        /**
         * Handler for what happens when delete is pressed on a photo.
         */
        $("input[name=deletePhotoButton]").on('click', function(){
            var photoId = $(this).attr("data-delete-photo_id");
            //Create url
            var url = "{{ path('gallery_delete_photo', { 'photo_id': 'a_target_id' }) }}";
            url = url.replace("a_target_id", photoId); //todo: It is installed a bundle that makes it possible to handle twig-paths in JS
            //Delete the photo
            $.ajax({
                type: "GET",
                url: url,
                success: function (){
                    //Remove the form row from the DOM
                    $("form[data-form-photo_id="+photoId+"]").closest("form").remove();
                },
                error: function() {
                    alert('Kunne ikke slette bildet. Kontakt IT-ansvarlig');
                }
            });
        });

        /**
         * Handle clicks on save photo button in edit form
         */
        $("input[name=savePhotoButton]").on('click', function(){
            var photoId = $(this).attr("data-edit-photo_id");
            //Create url
            var url = "{{ path('gallery_edit_photo', { 'photo_id': 'a_target_id' }) }}";
            url = url.replace("a_target_id", photoId);
            //var date = $("form[data-form-photo_id="+photoId+"]").find(".datepicker").attr("value");
            //var comment = $("form[data-form-photo_id="+photoId+"]").find(".photocomment").attr("value");
            //var params = {date: date, comment:comment};
            var data = $("form[data-form-photo_id="+photoId+"]").serialize();
            //Edit photo request
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (data){
                    //Update the row. Data contains updated data
                    //Create the new form
                     alert('Endringene er lagret!');
                    //$("form[data-photo_id="+photoId+"]").closest("form").replace();
                },
                error: function() {
                    alert('Kunne ikke redigere bildet. Kontakt IT-ansvarlig');
                }
            });
            $("input[name=savePhotoButton]").blur();
        });
    </script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12   medium-12 large-12 columns">
            <a href="{{ path('gallery', {'id': album_id}) }}">Tilbake til galleriet</a>
        </div>
    </div>
    <div class="row">
        {% for photo in photos %}
            {% include 'gallery/gallery_photo_edit_form.html.twig' with {'photo': photo} %}<br>
        {% endfor %}
    </div>
{% endblock %}

