{# This is the form shown when you press the "Last opp bilder" button on the gallery page #}

{% block stylesheets %}
<style>
    #dropzone { border: 6px dashed #808080; min-height: 150px; line-height: 100px; text-align: center; }
    #dropzone:hover { border: 6px dashed #008000; }
    #dropzone img { display: block; margin: 10px auto; }
    #dropzone p { margin: 10px; font-size: 14px; }

    #button_holder{
        line-height: 150px;
    }
    #button_holder input{
        vertical-align: middle;
    }

    .columns{
        min-height: 20px;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        {# The formData object is used so I can put the files in the post request when uploading. #}
        var formData = new FormData();

        $("#photo_upload_form").ready( function () {
            {# Prevents browser from acciedntaly loading image if photo is dropped outside dropzone #}
            $("#photo_upload_form").on('dragenter dragover drop', function (e){
                return false;
            });
            {# Handling of drops on the dropzone #}
            $("#dropzone").on("drop", function(e) {
                var files = e.originalEvent.dataTransfer.files;
                e.stopPropagation();
                e.preventDefault();
                for (var i = 0; i < files.length; i++) {
                    addPhoto(files[i]);
                }
                return true;
            });
        });
        {# Adds photos in box for preview and comment adding #}
        function addPhoto(file){
            var allowed_file_types = ['image/jpeg', 'image/png', 'image/gif'];
            if ($.inArray(file.type, allowed_file_types) < 0){
                return false;
            }
            {# Create the preview rows with thumbnails todo: finn løsning når browser ikke støtter FileReader()#}
            var reader = new FileReader();
            reader.onload = ( function(a_file) {
                return function(e) {
                    {# Construct the row to add inside drop zone #}
                    var outerRow = $('<div/>', {
                        "class": "row"
                    });
                    var imgCol = $('<div/>', {
                       "class": "small-3 medium-3 large-3 columns"
                    });
                    var imgEl = $('<img>',{
                       src: e.target.result,
                        title: a_file.name
                    });
                    var commentCol = $('<div/>', {
                        "class": "small-6 medium-6 large-6 columns"
                    });
                    var commentInput = $('<input>', {
                        type: "text",
                        name: a_file.name.replace(/\./g,'_'),
                        value: "<Bildetekst>"
                    })
                    var dateCol = $('<div/>', {
                        "class": "small-3 medium-3 large-3 columns"
                    });
                    var dateEl = $('<input>', {
                        type: "text",
                        name: a_file.name.replace(/\./g,'_')+"_taken_date",
                        "class": "datepicker",
                        value: "<dato tatt>"
                    });
                    $(imgCol).append(imgEl);
                    $(commentCol).append(commentInput);
                    $(dateCol).append(dateEl);
                    $(outerRow).append(imgCol);
                    $(outerRow).append(commentCol);
                    $(outerRow).append(dateCol);
                    $("#dropzone").append(outerRow);
                    $('.datepicker').fdatepicker({language:'no'});
                }
            })(file);
            reader.readAsDataURL(file);
            {# Add the file to the FormData object#}
            formData.append(file.name, file);
            //Enable jquery datepicker on all date fields

        }

        function postPhotos(){
            {# Add the text fields to formData. Photos are already added.#}
            $('#photo_upload_form input[type=text]').each( function(){
                formData.append($(this).attr('name')+"_text", $(this).val());
            });
            {# Add the currently selected gallery as parameter. It is available from the "parent"-template of this file todo: 13 nednefor her?#}
            formData.append('gallery_id',  $("#galleries_drop_down_list").val());
            $.ajax({
                url: "{{ path('gallery_upload') }}",
                type: "POST",
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,   // tell jQuery not to set contentType
                success: function(){
                    var success = ' <div data-alert class="alert-box success round"><h3>Bildene ble lastet opp</h3><a href="#" class="close">&times;</a> </div>';
                    resetForm();
                    $("#dropzone").append(success);
                    $(".alert-box").ready( function() {
                        $(".alert-box").fadeTo(1000, 500).slideUp(500)
                    });
                    $("#galleries_drop_down_list").trigger('change');
                    $('[data-reveal]').foundation('reveal','close')
                },
                error: function(){
                    var failure= ' <div data-alert class="alert-box warning round"><h3>Noe gikk galt. Kontakt IT-ansvarlig.</h3><a href="#" class="close">&times;</a> </div>';
                    resetForm();
                    $("#dropzone").append(failure);
                }
            });
        }

        function resetForm(){
            //reset formData
            formData = new FormData();
            //reset dropzone
            $("#dropzone").html("Slipp bilde(r) her eller bruk opplastningsknappen.");
        }

        function cancel(){
            resetForm();
            $('[data-reveal]').foundation('reveal','close')
        }
    </script>
{% endblock %}

<form id="photo_upload_form">
    {# Heading and gallery name row#}
    <div class="row">
        <div class="small-9 small-centered columns">
            <h3 id="modalTitleGallery">Last opp bilder til galleriet</h3>
            <p></p>
        </div>
    </div>
    {# Some extra spacing#}
    <div class="row columns"></div>
    {# Upload button and drop zone row #}
    <div class="row">
        {#<div class="small-2 columns" id="button_holder">
            <input type="button" value="Velg bilder">
        </div>#}
        <div class="small-12 columns" id="dropzone">
                Slipp bilde(r) her eller bruk opplastningsknappen.
        </div>
    </div>
    {# Some extra spacing#}
    <div class="row columns"></div>
    {# OK and cancel buttons row #}
    <div class="row">
        <div class="small-1 small-offset-10 columns">
            <input type="button" value="Avbryt" onclick="cancel()">
        </div>
        <div class="small-1 columns">
            <input type="button" onclick="postPhotos()" value="OK">
        </div>
    </div>
</form>