{% extends 'adminBase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Opprett nyhetsbrev</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="button medium">Lagre</button>
            <br><br>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
