{% extends 'base.html.twig' %}

{% block title %}
    Unsubscribe
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h4>{{ email }} har blitt meldt av "{{ newsletter.name }}".</h4>
                <p>Angrer du? Meld deg på igjen <a
                            href="{{ path('newsletter_show_subscribe', {'id':newsletter.id}) }}">her</a></p>
            </div>
        </div>
    </div>

{% endblock %}
