{% extends 'base_new.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <h3>
                    En melding er sendt til E-posten din!
                </h3>
                <p>
                    Du vil bli sendt automatisk til forsiden om noen sekunder...
                </p>
                <META HTTP-EQUIV=Refresh CONTENT="10; URL=/">
            </div>
        </div>
    </div>
{% endblock %}
