{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
                    <h3>
                        En melding er sendt til E-posten din!
                    </h3>
                    <p>
                        Du vil bli sendt automatisk til forsiden om noen sekunder...
                    </p>
                    <META HTTP-EQUIV=Refresh CONTENT="10; URL=/">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
