{% extends 'adminBase.html.twig' %}

  {% block body %}
      <div class="row">
          <div class="small-12 medium-6 columns">
              <h3>Skoleoversikt</h3>
          </div>
          <div class="small-12 medium-6 columns">
              <div id="app"></div>
          </div>
      </div>
  {% endblock %}

  {% block javascripts %}
      <script src="{{ asset('/js/allocation-build.js') }}"></script>
  {% endblock %}
