<!DOCTYPE html>
<html class="nojs" lang="no">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Spørreundersøkelse Vektorprogrammet</title>

    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{{ asset_with_version('css/survey.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset_with_version('favicon.ico') }}?v=2"/>

    {# Used by Foundation for backwards compability, and is supposed to be in the header #}

</head>

<body>

<div class="formSurvey">

    {{ content | safe_html }}

</div>

</body>
</html>
