<p>Takk for at du var med som assistent i dette semesteret!</p>

<p>Vi setter stor pris på det arbeidet du har gjort som assistent og ønsker deg gjerne tilbake neste semester.</p>

<p>Senere i semesteret vil det holdes et stevne hvor diplomer deles ut vi vil informere deg straks det er mer informasjon </p>

<p>Vi jobber kontinuerlig med å forbedre oss og er avhengig av tilbakemelding. Hjelp oss med å svare</p>

<p>på følgende undersøkelse og vær med i trekning av flotte premier da vel!</p>

<p><a href="{{ route }}">{{ route }}</a></p>



<p>
    Med vennlig hilsen<br>
    Alle oss i vektorprogrammet<br>
</p>
