<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", 'table', 'treemap', 'gauge']});
    google.load('jquery', '1.6.0');
</script>

</body>


<h4>Antall undersøkelser: {{ numSurveys }}</h4>
<div class="row">
    {% for chart in diagram %}
        {% set index = loop.index %}
                <div id="{{index}}">&nbsp;</div>
                <script>
                    $(function() {
                        {{ gchart_pie_chart(chart, index, 500, 250, attribute(question, index))}}
                        });
                </script>
                <hr/>
    {% endfor %}
</div>

{% if feedback is defined %}
    <h4>Tilbakemeldinger:</h4>
    {% for fb in feedback %}
        <p>{{ fb.question10 }}</p>
    {% endfor %}
{% endif %}

</div>



