{% extends 'adminBase.html.twig' %}

{% block title %}
    Skjemaer for spørreundersøkelser
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Undersøkelser</li>
{% endblock %}

{% block breadcrumb_menu %}
    <div class="btn-group">
        {% include 'common/department_semester_dropdowns.html.twig' with { 'path': 'surveys' } %}
        <a href="{{ path('survey_create') }}" class="btn btn-outline-success text-success">
            <i class="fa fa-plus"></i> Ny undersøkelse
        </a>
    </div>
{% endblock %}


{% block body %}

    {% include 'survey/survey_table.html.twig' with {'surveys': surveysWithDepartment, 'cardTitle' : "Undersøkelser #{ department } #{ semester }"} %}

    {% if has_access_to('survey_admin') %}

        {% include 'survey/survey_table.html.twig' with {'surveys': globalSurveys, 'cardTitle' : "Globale undersøkelser #{ semester }" } %}

    {% endif %}



{% endblock %}
