{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-3 large-offset-4 medium-6 column">
        <ul class ="button-group">
            <li><a href="#" id="pupilButton" class="button tiny">Elevresultater</a></li>
            <li><a href="#" id = "teacherButton" class="button tiny">Lærerresultater</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="survey-data" class ="large-7 large-offset-1 medium-6 column">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", 'table', 'treemap', 'gauge']});
        google.load('jquery', '1.6.0');
        </script>

    </div>

    <div class="large-4 large-offset-0 column">
        <div id="filterButtonsPupil">
        </div>
        <div id="filterButtonsTeacher">
        </div>
    </div>

</div>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        $(document).ready(function(){
            $("#pupilButton").on("click", function() {
                $("#filterButtonsPupil").show();
                $("#filterButtonsPupil").load(Routing.generate('survey_results_pupil_filter_buttons'));
                $("#survey-data").load(Routing.generate('survey_results_pupil'));
                $("#filterButtonsTeacher").hide();
            });
            $("#teacherButton").on("click", function() {
                $("#filterButtonsTeacher").show();
                $("#filterButtonsTeacher").load(Routing.generate('survey_results_teacher_filter_buttons'));
                $("#survey-data").load(Routing.generate('survey_results_teacher'));
                $("#filterButtonsPupil").hide();
            });
        });
    </script>

{% endblock %}

