<div class="column">
    <ul class="button-group" id="group">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <ul class="no-bullet" id="class">
            <p>Klassetrinn</p>
            <li><input id="8CheckBox" type="checkbox"><label>8. Klasse</label></li>
            <li><input id="9CheckBox" type="checkbox"><label>9. Klasse</label></li>
            <li><input id="10CheckBox" type="checkbox"><label>10. Klasse</label></li>
        </ul>
        <br><br><br><br>
        <ul class="no-bullet" id="usefull">
            <p>Det var nyttig å ha vektorassistentene i klassen.</p>
            <li><input id="usefullHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="usefullNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="usefullNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="usefullNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="usefullHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>
        <br>
        <ul class="no-bullet" id="qualified">
            <p>Vektorassistentene var kvalifiserte for jobben.</p>
            <li><input id="qualifiedHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="qualifiedNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="qualifiedNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="qualifiedNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="qualifiedHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>

        <ul class="no-bullet" id="tooMany">
            <p>Det var for mange studentassistenter tilstede.</p>
            <li><input id="tooManyHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="tooManyNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="tooManyNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="tooManyNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="tooManyHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>
        <br>
        <ul class="no-bullet" id="goodContact">
            <p>Det var god kontakt og informasjonsflyt på forhånd.</p>
            <li><input id="goodContactHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="goodContactNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="goodContactNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="goodContactNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="goodContactHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>
        <br>
        <ul class="no-bullet" id="wantToContinue">
            <p>Jeg ønsker at prosjektet fortsetter.</p>
            <li><input id="wantToContinueHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="wantToContinueNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="wantToContinueNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="wantToContinueNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="wantToContinueHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>
        <br>
        <ul class="no-bullet" id="moreMotivated">
            <p>Jeg tror elevene har blitt mer motivert for matematikk som følge av prosjektet</p>
            <li><input id="moreMotivatedHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="moreMotivatedNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="moreMotivatedNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="moreMotivatedNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="moreMotivatedHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>
        <br>
        <ul class="no-bullet" id="lessWorkLoadHECheckBox">
            <p>Arbeidsbelastningen ble mindre når vektorassistentene var på skolen.</p>
            <li><input id="lessWorkLoadHECheckBoxHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="lessWorkLoadHECheckBoxNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="lessWorkLoadHECheckBoxNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="lessWorkLoadHECheckBoxNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="lessWorkLoadHECheckBoxHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>

        <ul class="no-bullet" id="moreAdapted">
            <p>Undervisning ble bedre tilpasset for elevene.</p>
            <li><input id="moreAdaptedHECheckBox" type="checkbox"><label>Helt enig</label></li>
            <li><input id="moreAdaptedNECheckBox" type="checkbox"><label>Noe enig</label></li>
            <li><input id="moreAdaptedNCheckBox" type="checkbox"><label>Nøytral</label></li>
            <li><input id="moreAdaptedNUCheckBox" type="checkbox"><label>Noe uenig</label></li>
            <li><input id="moreAdaptedHUCheckBox" type="checkbox"><label>Helt uenig</label></li>
        </ul>
    </ul>
</div>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>



<script>

    $(document).ready(function() {


        $("#group").click(function () {
            var filter = "";


            if ($("#8CheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.1,1';
                }else{
                    filter += '1,1';
                }
            }
            if ($("#9CheckBox").is(":checked")) {
                if(filter != ""){
                    filter += '.1,2';
                }else{
                    filter += '1,2';
                }
            }
            if ($("#10CheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.1,3';
                }else{
                    filter += '1,3';
                }
            }

            if ($("#usefullHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.2,1';
                }else{
                    filter += '2,1';
                }
            }
            if ($("#usefullNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.2,2';
                }else{
                    filter += '2,2';
                }
            }
            if ($("#usefullNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.2,3';
                }else{
                    filter += '2,3';
                }
            }
            if ($("#usefullNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.2,4';
                }else{
                    filter += '2,4';
                }
            }
            if ($("#usefullHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.2,5';
                }else{
                    filter += '2,5';
                }
            }

            if ($("#qualifiedHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.3,1';
                }else{
                    filter += '3,1';
                }
            }
            if ($("#qualifiedNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.3,2';
                }else{
                    filter += '3,2';
                }
            }
            if ($("#qualifiedNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.3,3';
                }else{
                    filter += '3,3';
                }
            }
            if ($("#qualifiedNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.3,4';
                }else{
                    filter += '3,4';
                }
            }
            if ($("#qualifiedHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.3,5';
                }else{
                    filter += '3,5';
                }
            }
            if ($("#tooManyHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.4,1';
                }else{
                    filter += '4,1';
                }
            }
            if ($("#tooManyNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.4,2';
                }else{
                    filter += '4,2';
                }
            }
            if ($("#tooManyNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.4,3';
                }else{
                    filter += '4,3';
                }
            }
            if ($("#tooManyNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.4,4';
                }else{
                    filter += '4,4';
                }
            }
            if ($("#tooManyHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.4,5';
                }else{
                    filter += '4,5';
                }
            }
            if ($("#goodContactHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.5,1';
                }else{
                    filter += '5,1';
                }
            }
            if ($("#goodContactNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.5,2';
                }else{
                    filter += '5,2';
                }
            }
            if ($("#goodContactNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.5,3';
                }else{
                    filter += '5,3';
                }
            }
            if ($("#goodContactNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.5,4';
                }else{
                    filter += '5,4';
                }
            }
            if ($("#goodContactHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.5,5';
                }else{
                    filter += '5,5';
                }
            }
            if ($("#wantToContinueHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.6,1';
                }else{
                    filter += '6,1';
                }
            }
            if ($("#wantToContinueNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.6,2';
                }else{
                    filter += '6,2';
                }
            }
            if ($("#wantToContinueNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.6,3';
                }else{
                    filter += '6,3';
                }
            }
            if ($("#wantToContinueNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.6,4';
                }else{
                    filter += '6,4';
                }
            }
            if ($("#wantToContinueHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.6,5';
                }else{
                    filter += '6,5';
                }
            }
            if ($("#moreMotivatedHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.7,1';
                }else{
                    filter += '7,1';
                }
            }
            if ($("#moreMotivatedNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.7,2';
                }else{
                    filter += '7,2';
                }
            }
            if ($("#moreMotivatedNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.7,3';
                }else{
                    filter += '7,3';
                }
            }
            if ($("#moreMotivatedNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.7,4';
                }else{
                    filter += '7,4';
                }
            }
            if ($("#moreMotivatedHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.7,5';
                }else{
                    filter += '7,5';
                }
            }
            if ($("#lessWorkLoadHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.8,1';
                }else{
                    filter += '8,1';
                }
            }
            if ($("#lessWorkLoadNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.8,2';
                }else{
                    filter += '8,2';
                }
            }
            if ($("#lessWorkLoadNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.8,3';
                }else{
                    filter += '8,3';
                }
            }
            if ($("#lessWorkLoadNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.8,4';
                }else{
                    filter += '8,4';
                }
            }
            if ($("#lessWorkLoadHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.8,5';
                }else{
                    filter += '8,5';
                }
            }

            if ($("#moreAdaptedHECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.9,1';
                }else{
                    filter += '9,1';
                }
            }
            if ($("#moreAdaptedNECheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.9,2';
                }else{
                    filter += '9,2';
                }
            }
            if ($("#moreAdaptedNCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.9,3';
                }else{
                    filter += '9,3';
                }
            }
            if ($("#moreAdaptedNUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.9,4';
                }else{
                    filter += '9,4';
                }
            }
            if ($("#moreAdaptedHUCheckBox").is(":checked")){
                if(filter != ""){
                    filter += '.9,5';
                }else{
                    filter += '9,5';
                }
            }
            $("#survey-data").load(Routing.generate('survey_results_teacher_filter', {filter: filter}));
        });


    });

</script>