<div class="row">
    {% if is_granted_admin() %}
        <div class="col-6 col-md-5 col-lg-3 columns">
            <div class="row collapse">
                <div class="col-9 columns">
                    <select id="bulkSelect">
                        <option value="title">Gruppehandling</option>
                        <option value="deleteApplication">Slett søknad</option>
                        <option value="deleteInterview">Slett intervju</option>
                    </select>
                </div>
                <div class="col-3 columns">
                    <a href="#" id="bulkAction" class="button postfix">Utfør</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-12 col-md-7 col-lg-9 columns">
        <h6 class="float-right">Antall: {{ applications|length }}</h6>
    </div>
</div>
