{% extends 'adminBase.html.twig' %}

{% block title %}
    Attester
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">

            <h1> Attester </h1>
            <h5>  Her kan du laste ned attest for assistentene og oppdatere signaturen din</h5></h5>

            <hr>

            <div class="row">
                <div class="col-2 columns">
                    <a href="{{ path('certificate_download', {id: currentSemester.id}) }}" class="button tiny"> Last ned attest    </a>
                </div>
                <div class="col-2 columns">
                    <a href="{{ path('certificate_signature_picture_upload') }}" class="button tiny"> Oppdater signatur</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
