{% extends 'adminBase.html.twig' %}

{% block title %}
    Attester
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <h1> Attester </h1>

            <hr>

            <div class="row">
                <div class="small-4 columns">
                    <a href="{{ path('certificate_signature_picture_upload') }}" class="button tiny"> Last opp
                        signatur</a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
