{% for article in articles %}
    <div class="small-12 medium-3 large-3 columns">
        <a href="{{ path('article_show', { 'slug': article.slug }) }}">
            <img src="{{ asset_with_version(article.imageSmall) }}">
        </a>
        <a href="{{ path('article_show', { 'slug': article.slug }) }}">{{ article.title|safe_html }}</a>
    </div>
{% endfor %}
