{% for article in articles %}
    <div class="small-12 medium-3 large-3 columns">
        <a href="{{ path('article_show', { 'id': article.id }) }}">
            <img src="{{ asset(article.imageSmall) }}">
        </a>
        <a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title|raw }}</a>
    </div>
{% endfor %}