<div class="vektor-box department-filter">
    <p>Filter:</p>
    {% for department in departments | filter(department => department.isActive) %}
        {# Find out which department is currently filtered #}
        {% if department.shortName|lower in app.request.attributes.get('_route_params') %}
            {% set active = 'class=department-filter-active' %}
        {% else %}
            {% set active = '' %}
        {% endif %}
        <p>
            <a href="{{ path('article_filter', { 'department': department.shortName|lower }) }}" {{ active }}>{{ department.shortName }}</a>
        </p>
    {% else %}
        <p>Ingen avdelinger</p>
    {% endfor %}
</div>
