
{% extends 'adminBase.html.twig' %}

{% block title %}
    QuickLinks | ny
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">QuickLinks</li>
    <li class="breadcrumb-item active">Opprett</li>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-money"></i> Opprett QuickLink
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.title) }}

                    <br>
                    <br>
                    <button id="submit" type="submit"
                            class="btn btn-primary">Lagre
                    </button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

