{% if data.timeToAdmissionStart < 24 %}
    {% if data.timeToAdmissionStart == 1 %}
        <p>{{ data.timeToAdmissionStart }} time til opptaket starter!!</p>
    {% else %}
        <p>{{ data.timeToAdmissionStart }} timer til opptaket starter!</p>
    {% endif %}
{% else %}
    {% if timeToAdmissionStart // 24 == 1 %}
        <p>{{ data.timeToAdmissionStart // 24 }} dag til opptaket starter!</p>
    {% else %}
        <p>{{ data.timeToAdmissionStart // 24 }} dager til opptaket starter!</p>
    {% endif %}
{% endif %}
