<p><a href="{{ path('articleadmin_show') }}">Artikler</a></p>
<p><a href="{{ path('participanthistory_show') }}">Assistenter</a></p>
<p><a href="{{ path('surveys') }}">Undersøkelser</a></p>
<p><a href="{{ path('sponsors_show') }}">Sponsorer</a></p>
