.contact-listSchool {
    font-size: 40px;
    border-bottom: 2px solid #cdecf9;
}
.ui.grid .contact-listSchool {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.contact-listAllSchool {
    padding-left: 100px;
}

.contact-department img {
    margin: 0 auto;
}

.contact-department h2 {
    font-size: 2.5rem;
}

i.icon.contact-department-icon {
    font-size: 2.5rem;
    color: rgba(0,0,0,0.75);
}

.ui.list>.item:first-of-type {
    padding-bottom: 0;
}
