/*TODO: Make it appear exactly in middle. DONE*/
/*TODO: Start all names with "about"*/
/*TODO: Style it up, it looks like crap now!*/

.backdrop {
    position: fixed
}

.backdrop.visible {
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}
.contactUsPopUp {
    opacity: 0;
    text-align: center;
    color: white;
    background-color: white;
    font-size: 10px;
    font-weight: 200;
    width: 400px;
    max-height: 500px;
    height: 500px;
    border-radius: 3px;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactUsPopUpMobile {
    opacity: 0;
    text-align: center;
    color: blue;
    background-color: blue;
    font-size: 3px;
    font-weight: 200;
    width: 400;
    max-height: 500px;
    height: 500px;
    border-radius: 3px;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactUsPopUp.visible {
    opacity: 1;
    z-index: 1;
}
.contactUsPopUpMobile.visible {
    opacity: 1;
    z-index: 1;
}

.contactUsPopUp-form {
    width: 400px;
    height: 800px;
}

.contactUsPopUp-icon {
    right: 1px;
    position: fixed;
    cursor: pointer;
}

.contactUsPopUp-captchaImage {
    width: 210px;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
}

.contactUsPopUp-message {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;

}

.form-group {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    width:100px;
}

#message-btn {
    width: auto;
    padding: 10px 8px;
    margin: 10px 0 0;
    margin-left: 100px;
}

#text-area {
    max-height: 242px;
    min-height: 70px;
}

.header-frame {
    height: 150px;
    background-image: linear-gradient(180deg, #c6c8f2, #66c9dc);
    background-size: 100% 100%;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 15px;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.header-frame img {
    margin-top: -30px;
    height: 190px;
}