/*TODO: Make it appear exactly in middle. DONE*/
/*TODO: Start all names with "about"*/
/*TODO: Style it up, it looks like crap now!*/
.contactUsPopUp {
    opacity: 0;
    text-align: center;
    color: white;
    background-color: rgb(33, 243, 50);
    font-size: 10px;
    font-weight: 200;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactUsPopUp.visible {
    opacity: 1;
    middle: 0;
    z-index: 1;
}

.contactUsPopUp-icon {
    right: 10px;
    position: fixed;
    cursor: pointer;
}

.contactUsPopUp-captchaImage {
    width: 200px;
    height: 60px;
}

.contactUsPopUp-message {
    width: 300px;
}