.contact-page {
    padding-top: 50px;
}
@media screen and (max-width: 767px) {
    .contact-page {
        padding-top: 20px;
    }
}

.contact-listSchool {
    font-size: 40px;
}

.contact-listAllSchool {
    padding-left: 100px;
}

.contact-department {
    padding-left: 100px;
}