.aboutUs-header {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    color: rgb(0,0,0);
    font-size: 37px;
}

/**************
 About text
 *************/
.aboutUs-text {
    margin-top: 20px;
    font-style: normal;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.about-us-page .row.main-text-about-us-section {
    padding-bottom: 150px;
}

@media screen and (max-width: 767px) {
    .aboutUs-header {
        font-size: 30px;
    }

    .aboutUs-text {
        font-size: 18px;
    }

    .main-text-about-us img {
        margin: 0 auto;
    }

    .ui.stackable.grid:not(.vertically)>.row.main-text-about-us-section {
        padding-bottom: 50px;
    }

    .ui.stackable.grid:not(.vertically)>.row.main-text-about-us-section:first-of-type {
        padding-top: 30px;
    }
}
