.aboutUs-header {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    color: rgb(0,0,0);
}

/**************
 About text
 *************/
.aboutUs-text {
    margin-top: 35px;
    font-style: normal;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
}

/*****************
    Images
*****************/
.aboutUs-image1{
    display: block;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    /*max-height: 100%;
    max-width: 100%;
    height: ??px;*/
}

.aboutUs-image2{
    display: block;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    /*max-height: 100%;
    max-width: 100%;
    height: ??px;*/
}