.teamCardGroup {
    justify-content: center;
}

.teamImage {
    height: 200px;
}

.teamCardDesc {
    font-size: 0.9em;
}

.teamCardContainer {
    display: flex;
    justify-content: space-around;
}

#regionMenu {
    border: none;
    display: flex;
    justify-content: center;
}

#teamHeader {
    display: flex;
    justify-content: center;
}

.ui.attached.tabPaneContent {
    border: none;
}

.ui.card .meta, .ui.cards>.card .teamCardMeta {
    font-family: menlo;
    font-size: 0.65em;
}

.teamCardExtra {
    display: flex;
    justify-content: center;
}
