#testimonials {
    display: flex;
    justify-content: center;
}

.testimonialText {
    font-size: small;
    text-align: center;
}

.ui.card.testimonial-card {
    width: 200px;
    max-width: 200px;
    margin: 0 10px;
    height: inherit;
}
