.testimonialText {
    font-size: small;
    text-align: center;
    width: inherit;
}

.ui.card.testimonial-card {
    width: 200px;
    max-width: 200px;
    margin: 0 10px;
    height: inherit;
}

#testimonialImageDiv {
    padding-top: 1em;
}

.ui.card {
    box-shadow: none;
}

.ui.card>.content {
    border-top-width: 0px;
}
