<div class="member-stats">
    <h5>{{ department.city }}</h5>
    {#<h6><b>{{ num_assistants }}</b> assistenter</h6>#}
    <h6><b>{{ num_team_members }}</b> i team</h6>
</div>
<svg>
    <polyline fill="none" stroke-width="2" stroke="#2b69b0" class="city-polyline" points="0,0 50,50 150,50"></polyline>
</svg>
