{% extends "base_new.html.twig" %}

{% block body %}
    <div class="page-header text-center">
        <h1>
            Søknad mottatt!
        </h1>
        <p class="text-center">Du vil om bli kontaktet på e-post av {{ team_name }}-ansvarlig med informasjon om prosessen videre.</p>
    </div>
{% endblock %}
