@import "../../../../../node_modules/foundation-sites/scss/foundation/components/global";

// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$vektor-white: #fafeff;
$vektor-blue: #6fceee;
$vektor-grey: #dbdcdd;
$admin-grey: #333333;
$grey: #8E8185;
