@import "colors";

.admission-well{
  text-align: center;
  background-color: $info-color;
  padding: 20px;
  margin-bottom: 50px;
  border: 3px solid $success-color;
  li {
    display: inline;
  }
}
