@import "../colors";

.page-header {
  margin-top: 50px;
  margin-bottom: 100px;

  h1 {
    text-align: center;
  }
}

.page-header-thin {
  margin-bottom: 50px;
}

.page-header, .page-cover {
  color: $dark-blue;

  h1 {
    font-size: 34px;
  }

  p {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    margin-top: 25px;
    margin-bottom: 25px;
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 19px;
    }
  }
}
