{% extends 'adminBase.html.twig' %}

{% block title %}
    Feilmelding
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 columns text-center">
            <h3>Det har oppstått en feil!</h3>
            <h5><b>Feilmelding:</b></h5>
            <p>{{ error }}</p>
        </div>
    </div>
{% endblock %}
