{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <h4 class="text-center">{{ title }}</h4>
    {% if message is defined %}
        <p class="text-center">{{ message|safe_html }}</p>
    {% endif %}
    <br>
{% endblock %}
