{% extends 'base.html.twig' %}

{% block title %}
    Fant ingen assistenthistorie
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        <h5 class="text-center">Fant ingen assistenthistorikk for din bruker ({{ user }}). Kontakt
            webansvarlig@vektorprogrammet.no hvis dette ikke er riktig. </h5>
        <p class="text-center">Har du ikke vært assistent tidligere kan du søke fra skjemaet <a
                    href="{{ path('admission_show_specific_department', {'id': user.fieldOfStudy.department.id}) }}">her</a>
        </p>
        <br>
    </div>
{% endblock %}
