{% extends 'base.html.twig' %}

{% block title %}
    Fant ingen assistenthistorie
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <h5 class="text-center">Fant ingen assistenthistorikk for din bruker. Kontakt webansvarlig@vektorprogrammet.no hvis dette ikke er riktig. </h5>
{% endblock %}