{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <h4 class="text-center">Fant ikke aktiv søkeperiode for dette semesteret.</h4>
{% endblock %}
