<div class="page-header pb-3 mb-0">
    <h1>Intervju Vektorprogrammet</h1>
    <p class="text-center">{{ interview.user }}</p>
    <p><span class="info-border-bottom"><span
                    class="text-bold">{{ interview.scheduled | date("d.m.Y") }}</span> kl. <span
                    class="text-bold">{{ interview.scheduled | date("H:i") }}</span> i <span
                    class="text-bold">{{ interview.room }}</span></span></p>
</div>
