{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header text-center">
        <h1>Notert</h1>
        <p>Vi tar kontakt med deg når vi har funnet en ny intervjutid.</p>
    </div>
{% endblock %}
