{% extends 'adminBase.html.twig' %}

{% block title %}
    Forhåndsvisning
{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                        <h3>Forhåndsvisning</h3>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
