{% extends 'base_new.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% include 'interview/interview_invitation_header.html.twig' %}

                <p class="mt-5">Vennligst skriv inn hvilke tidspunkt som <b>ikke</b> passer, så tar vi snart kontakt.</p>

                {{ form_start(form) }}
                {{ form_row(form.newTimeMessage) }}
                <button class="btn btn-secondary mt-3">Be om nytt tidspunkt</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
