{% extends 'base.html.twig' %}

{% block title %}
    Styret og team
{% endblock %}
	
	
{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> Styret og team </h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3 class="no-bottom-margin"></h3>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <table>
                {% for department in departments %}
                    <tr>
                        <th colspan="2">
                            <h3>{{ department.shortName }}</h3>
                        </th>
                    </tr>
                    {% for team in department.teams %}
                        <tr>
                            <td><h6><a href="{{ path('team_page', {'id': team.id}) }}">{{ team.name }}</a></h6></td>
                            <td><span class="team-short-description">{{ team.shortDescription }}</span></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <br>




{% endblock %}