{% extends 'base.html.twig' %}

{% block title %}
	For bedrifter
{% endblock %}

{% block javascripts %}
    {% include "statictext/js_loader_for_static_texts.html.twig" %}
{% endblock %}

{% block body %}

	<div class="row">
		
		<div class="small-12 medium-12 large-4 columns">
			<div class="panel callout radius">
                <div class="{{ element_editable() }}" id="contactinfo_businesses">
                    {{ get_content('contactinfo_businesses') | raw }}
                </div>
			</div>
		</div>
		
		<div class="small-12 medium-12 large-8 columns">
            <div class="{{ element_editable() }}" id="businessesinfo">
                {{ get_content('businessesinfo') | raw }}
            </div>
		</div>
	</div>
	
{% endblock %}