{% extends 'base.html.twig' %}

{% block title %}
    For skoler
{% endblock %}

{% block javascripts %}
    {% include "statictext/js_loader_for_static_texts.html.twig" %}
{% endblock %}

{% block body %}
    <div class="row">

        <div class="small-12 medium-12 large-4 columns">
            <div class="panel callout radius">
                <div class="{{ element_editable() }}" id="contactinfo_schools">
                    {{ get_content('contactinfo_schools') | raw }}
                </div>
            </div>
        </div>

        <div class="small-12 medium-12 large-8 columns">
            <div class="{{ element_editable() }}" id="schoolinfo">
                {{ get_content('schoolinfo') | raw }}
            </div>
        </div>
    </div>
{% endblock %}
